<div #charts style="height: 350px;width: 350px">
</div>

<dashboard-page>
    <div class="page-head">
    </div>
    <div class="page-content container">
        <div class="columns">
            <div class="column col-12">
                <dashboard-widget class="shadow">
                    <div class="widget-head">
                    </div>
                    <div class="widget-content" style="height: 250px;">
                        <dashboard-packed-donut [variableId]="'vz4'"></dashboard-packed-donut>
                    </div>
                </dashboard-widget>
            </div>

        </div>

    </div>
</dashboard-page>