<div class="component-title">
    <h2>Radio group</h2>
</div>


<!-- checkbox group -->
<div class="column col-12">
    <div class="form-group is-error">
        <!-- default checkbox -->
        <div>
            <label class="form-radio form-inline">
                <input type="radio" name="group"><i class="form-icon"></i> Option
            </label>
        </div>
        <div>
            <label class="form-radio form-inline">
                <input type="radio" name="group"><i class="form-icon"></i> Option
            </label>
        </div>
    </div>        
</div>
<!-- checkbox group end-->

<!-- documented code -->
<pre>
    <code>
        &lt;div class="form-group"&gt;
            &lt;!-- default checkbox --&gt;
            &lt;div&gt;
                &lt;label class="form-radio form-inline"&gt;
                    &lt;input type="radio" name="group"&gt;&lt;i class="form-icon"&gt;&lt;/i&gt; Option
                &lt;/label&gt;
            &lt;/div&gt;
            &lt;div&gt;
                &lt;label class="form-radio form-inline"&gt;
                    &lt;input type="radio" name="group"&gt;&lt;i class="form-icon"&gt;&lt;/i&gt; Option
                &lt;/label&gt;
            &lt;/div&gt;
        &lt;/div&gt; 
    </code>
</pre>

<div class="column col-12">
    <div class="form-group">

        <!-- default -->
        <label class="form-radio form-inline">
            <input type="radio" name="1"><i class="form-icon"></i> Default
        </label>

        <!-- light  checkbox type -->
        <label class="form-radio form-inline light">
            <input type="radio" name="1"><i class="form-icon"></i> Light
        </label>

        <!-- disabled checkbox -->
        <label class="form-radio form-inline">
            <input type="radio" name="1" checked="" disabled><i class="form-icon"></i> Disable
        </label>

        <!-- error checked type checkbox -->
        <label class="form-radio form-inline error-border">
            <input type="radio" name="1"><i class="form-icon"></i> Error border
        </label>

        <!-- blue border type checkbox -->
        <label class="form-radio form-inline primary">
            <input type="radio" name="1"><i class="form-icon"></i> Blue border
        </label>

        <!-- light blue type checkbox -->
        <label class="form-radio form-inline light-blue">
            <input type="radio" name="1"><i class="form-icon"></i> Light Blue
        </label>

        <!-- error checkbox-->
        <label class="form-radio form-inline is-error">
            <input type="radio" name="1"><i class="form-icon"></i> Error
        </label>

        <!-- success checkbox -->
        <label class="form-radio form-inline is-success">
            <input type="radio" name="1"><i class="form-icon"></i> Success
        </label>
    </div>
</div>

<!-- documented code -->
<pre>
    <code>
            &lt;div class="form-group"&gt;

            &lt;!-- default --&gt;
            &lt;label class="form-radio form-inline"&gt;
                &lt;input type="radio" name="1"&gt;&lt;i class="form-icon"&gt;&lt;/i&gt; Default
            &lt;/label&gt;
    
            &lt;!-- light  checkbox type --&gt;
            &lt;label class="form-radio form-inline light"&gt;
                &lt;input type="radio" name="1"&gt;&lt;i class="form-icon"&gt;&lt;/i&gt; Light
            &lt;/label&gt;
    
            &lt;!-- disabled checkbox --&gt;
            &lt;label class="form-radio form-inline"&gt;
                &lt;input type="radio" name="1" checked="" disabled&gt;&lt;i class="form-icon"&gt;&lt;/i&gt; Disable
            &lt;/label&gt;
    
            &lt;!-- error checked type checkbox --&gt;
            &lt;label class="form-radio form-inline error-border"&gt;
                &lt;input type="radio" name="1"&gt;&lt;i class="form-icon"&gt;&lt;/i&gt; Error border
            &lt;/label&gt;
    
            &lt;!-- blue border type checkbox --&gt;
            &lt;label class="form-radio form-inline primary"&gt;
                &lt;input type="radio" name="1"&gt;&lt;i class="form-icon"&gt;&lt;/i&gt; Blue border
            &lt;/label&gt;
    
            &lt;!-- light blue type checkbox --&gt;
            &lt;label class="form-radio form-inline light-blue"&gt;
                &lt;input type="radio" name="1"&gt;&lt;i class="form-icon"&gt;&lt;/i&gt; Light Blue
            &lt;/label&gt;
    
            &lt;!-- error checkbox--&gt;
            &lt;label class="form-radio form-inline is-error"&gt;
                &lt;input type="radio" name="1"&gt;&lt;i class="form-icon"&gt;&lt;/i&gt; Error
            &lt;/label&gt;
    
            &lt;!-- success checkbox --&gt;
            &lt;label class="form-radio form-inline is-success"&gt;
                &lt;input type="radio" name="1"&gt;&lt;i class="form-icon"&gt;&lt;/i&gt; Success
            &lt;/label&gt;
        &lt;/div&gt;
    </code>
</pre>
