<dashboard-page>
    <div class="page-content">
        <dashboard-widget>
            <div class="widget-content">
                <div style="height: 250px;width: 100%">
                    <dashboard-responses-count [totalCountTitle]="'Total Survey Responses'" [countTitle]="'Filtered Responses'"
                    [percentTitle]="'filtered percent response'" [showPercentage]="false"
                     [textColor]="'#0052CC'" [decimalPlace]="'1'"></dashboard-responses-count>
                </div>
            </div>
        </dashboard-widget>
    </div>
</dashboard-page>