<div class="component-title">
    <h2>Pagination</h2>
</div>

<div class="vz-pagination">
    <ul class="pagination">
            <li class="page-item disabled">
                <a href="#" tabindex="-1">
                    <i class="fas fa-chevron-left"></i>
                    <i class="fas fa-chevron-left"></i>
                </a>
            </li>
            <li class="page-item disabled">
                <a href="#" tabindex="-1">
                    <i class="fas fa-chevron-left"></i>
                </a>
            </li>
            <li class="page-item active">
                <a href="#">1</a>
            </li>
            <li class="page-item">
                <a href="#">2</a>
            </li>
            <li class="page-item">
                <a href="#">3</a>
            </li>
            <li class="page-item">
                <span>...</span>
            </li>
            <li class="page-item">
                <a href="#">12</a>
            </li>
            <li class="page-item">
                <a href="#">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </li>
            <li class="page-item">
                <a href="#">
                    <i class="fas fa-chevron-right"></i>
                    <i class="fas fa-chevron-right"></i>
                </a>
            </li>
    </ul>
</div>


<!-- documented code -->
<pre>
    <code>
            &lt;div class="vz-pagination"&gt;
                &lt;ul class="pagination"&gt;
                        &lt;li class="page-item disabled"&gt;
                            &lt;a href="#" tabindex="-1"&gt;
                                &lt;i class="fas fa-chevron-left"&gt;&lt;/i&gt;
                                &lt;i class="fas fa-chevron-left"&gt;&lt;/i&gt;
                            &lt;/a&gt;
                        &lt;/li&gt;
                        &lt;li class="page-item disabled"&gt;
                            &lt;a href="#" tabindex="-1"&gt;
                                &lt;i class="fas fa-chevron-left"&gt;&lt;/i&gt;
                            &lt;/a&gt;
                        &lt;/li&gt;
                        &lt;li class="page-item active"&gt;
                            &lt;a href="#"&gt;1&lt;/a&gt;
                        &lt;/li&gt;
                        &lt;li class="page-item"&gt;
                            &lt;a href="#"&gt;2&lt;/a&gt;
                        &lt;/li&gt;
                        &lt;li class="page-item"&gt;
                            &lt;a href="#"&gt;3&lt;/a&gt;
                        &lt;/li&gt;
                        &lt;li class="page-item"&gt;
                            &lt;span&gt;...&lt;/span&gt;
                        &lt;/li&gt;
                        &lt;li class="page-item"&gt;
                            &lt;a href="#"&gt;12&lt;/a&gt;
                        &lt;/li&gt;
                        &lt;li class="page-item"&gt;
                            &lt;a href="#"&gt;
                                &lt;i class="fas fa-chevron-right"&gt;&lt;/i&gt;
                            &lt;/a&gt;
                        &lt;/li&gt;
                        &lt;li class="page-item"&gt;
                            &lt;a href="#"&gt;
                                &lt;i class="fas fa-chevron-right"&gt;&lt;/i&gt;
                                &lt;i class="fas fa-chevron-right"&gt;&lt;/i&gt;
                            &lt;/a&gt;
                        &lt;/li&gt;
                &lt;/ul&gt;
        &lt;/div&gt;
    </code>
</pre>