<dashboard-page>
  <div class="page-head">
    <h5><strong>Dashboard Page Component</strong></h5>
  </div>
  <div class="page-content">
    <div class="container">
      <div class="columns">
        <div class="column col-12">
          Dashboard page is a structural component it wraps the content of a
          dashboard page within. page is divided into 3 sections:
          <ul>
            <li>
              <strong>Head: </strong> inside a page tag '.page-head' class is
              used to define heading of a page. user can put any html in head.
            </li>
            <li>
              <strong>Body: </strong> inside a page tag '.page-content' class is
              used to define body of a page. user can put any html in body.
            </li>
            <li>
              <strong>Footer: </strong> inside a page tag '.page-footer' class
              is used to define footer of a page. user can put any html in
              footer.
            </li>
          </ul>
        </div>
        <div class="column col-12">
          <pre class="code" data-lang="HTML">
            <code>
            {{html}}
            </code>
          </pre>
        </div>
        <div class="column col-12">
          <!-- <code></code> -->
        </div>
        <!-- <div class="column col-3">col-3</div>
        <div class="column col-2">col-2</div>
        <div class="column col-1">col-1</div> -->
      </div>
    </div>
  </div>
</dashboard-page>
