<div class="component-title">
    <h2>Avatars</h2>
</div>

<div class="columns">
    <!-- use avatar-xl, avatar-lg, avatar-sm, avatar-xs for extra large, large, small and extra small avatar respectively -->
    <div class="column">
            <div style="padding-bottom: 1rem;display: flex;">Avatar / Person image</div>
            <div class="avt-wrapper">
                <div class="code-wrapper">
                    <figure class="avatar avatar-xxl">
                        <img src="assets/images/svg/avatar.svg"/>
                     </figure>
                </div>
                
                <!-- documented code -->
                <pre>
                    <code>
                    &lt;figure class="avatar avatar-xxl"&gt;&lt;img src="assets/images/svg/avatar.svg"/&gt;&lt;/figure&gt;
                    </code>
                </pre>        
            </div>
           

            <div class="avt-wrapper">
                <div class="code-wrapper">
                    <figure class="avatar avatar-xl">
                        <img src="assets/images/svg/avatar.svg"/>
                    </figure>
                </div>
                <!-- documented code -->
                <pre>
                    <code>
                    &lt;figure class="avatar avatar-xl"&gt;&lt;img src="assets/images/svg/avatar.svg"/&gt;&lt;/figure&gt;
                    </code>
                </pre>     
            </div>
            
            <div class="avt-wrapper">
                <div class="code-wrapper">
                    <figure class="avatar avatar-lg">
                        <img src="assets/images/svg/avatar.svg"/>
                    </figure>
                </div>
                <!-- documented code -->
                <pre>
                    <code>
                    &lt;figure class="avatar avatar-lg"&gt;&lt;img src="assets/images/svg/avatar.svg"/&gt;&lt;/figure&gt;
                    </code>
                </pre>   
            </div>

            <div class="avt-wrapper">
                <div class="code-wrapper">
                    <figure class="avatar avatar-md">
                        <img src="assets/images/svg/avatar.svg"/>
                    </figure>
                </div>
                <!-- documented code -->
                <pre>
                    <code>
                    &lt;figure class="avatar avatar-md"&gt;&lt;img src="assets/images/svg/avatar.svg"/&gt;&lt;/figure&gt;
                    </code>
                </pre> 
            </div>

            <div class="avt-wrapper">
                <div class="code-wrapper">
                    <figure class="avatar avatar-sm">
                        <img src="assets/images/svg/avatar.svg"/>
                    </figure>
                </div>
                <!-- documented code -->
                <pre>
                    <code>
                    &lt;figure class="avatar avatar-sm"&gt;&lt;img src="assets/images/svg/avatar.svg"/&gt;&lt;/figure&gt;
                    </code>
                </pre> 
            </div>
            
            <div class="avt-wrapper">
                <div class="code-wrapper">
                    <figure class="avatar avatar-xs">
                        <img src="assets/images/svg/avatar.svg"/>
                    </figure>
                </div>
                <!-- documented code -->
                <pre>
                    <code>
                    &lt;figure class="avatar avatar-xs"&gt;&lt;img src="assets/images/svg/avatar.svg"/&gt;&lt;/figure&gt;
                    </code>
                </pre> 
            </div>
    </div>
</div>


<div>Avatar / Person group</div>
<div class="columns">
    <div class="column col-12">
        <figure class="avatar avatar-md">
            <img src="assets/images/svg/avatar.svg"/>
        </figure>
        <figure class="avatar avatar-md">
            <img src="assets/images/svg/avatar.svg"/>
        </figure>
        <figure class="avatar avatar-md">
            <img src="assets/images/svg/avatar.svg"/>
        </figure>
    </div>

    <div class="column col-12 display-flex">
        <figure class="avatar avatar-md" data-initial="YZ" style="background-color: #C1C7D0;"></figure>
        <figure class="avatar avatar-md" data-initial="YZ" style="background-color: #C1C7D0;"></figure>
        <figure class="avatar avatar-md" data-initial="YZ" style="background-color: #C1C7D0;"></figure>

        <!-- documented code -->
        <pre>
            <code>
                &lt;figure class="avatar avatar-md" data-initial="YZ" style="background-color: #C1C7D0;"&gt;&lt;/figure&gt;<br>

                &lt;figure class="avatar avatar-md" data-initial="YZ" style="background-color: #C1C7D0;"&gt;&lt;/figure&gt;<br>

                &lt;figure class="avatar avatar-md" data-initial="YZ" style="background-color: #C1C7D0;"&gt;&lt;/figure&gt;
            </code>
        </pre>
    </div>

    <!-- use avtar-widget class for avatar combine profile -->
    <div class="column col-12 display-flex">
        <div class="avtar-widget">
            <figure class="avatar avatar-md" style="background-color: #C1C7D0;">
                <img src="assets/images/svg/avatar.svg"/>
            </figure>
            <figure class="avatar avatar-md" data-initial="YZ" style="background-color: #C1C7D0;"></figure>
            <figure class="avatar avatar-md" data-initial="YZ" style="background-color: #C1C7D0;"></figure>
            <figure class="avatar avatar-md" data-initial="+2" style="background-color: #C1C7D0;"></figure>
        </div>

        <!-- documented code -->
        <pre>
            <code>
                    &lt;div class="avtar-widget"&gt; <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;figure class="avatar avatar-md"&gt;<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;img src="assets/images/svg/avatar.svg"/&gt;<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;/figure&gt;<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&ltfigure class="avatar avatar-md" data-initial="YZ" style="background-color: #C1C7D0;"&gt;&lt;/figure&gt;<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;figure class="avatar avatar-md" data-initial="YZ" style="background-color: #C1C7D0;"&gt;&lt;/figure&gt;<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;figure class="avatar avatar-md" data-initial="+2" style="background-color: #C1C7D0;"&gt;&lt;/figure&gt;<br>
                &lt;/div&gt;
            </code>
        </pre>
    </div>
</div>