<div class="component-title">
    <h2>Text field</h2>
</div>

<!-- default tooltips -->
<div>Default Tooltips</div>
<div class="columns">
    <!-- Top tooltip -->
    <div class="column col-2">
        <button class="btn btn-primary tooltip sm" data-tooltip="Top tooltip">Top tooltip</button>
    </div>

    <!-- Right tooltip -->
    <div class="column col-2">
        <button class="btn btn-primary tooltip sm tooltip-right" data-tooltip="Right tooltip">Right tooltip</button>
    </div>

    <!-- Bottom tooltip -->
    <div class="column col-2">
        <button class="btn btn-primary tooltip sm tooltip-bottom" data-tooltip="Bottom tooltip">Bottom tooltip</button>
    </div>

    <!-- Left tooltip -->
    <div class="column col-2">
        <button class="btn btn-primary tooltip sm tooltip-left" data-tooltip="Left tooltip">Left tooltip</button>
    </div>
</div>


<!-- documented code -->
<pre>
    <code>
        &lt;!-- Top tooltip --&gt;
        &lt;button class="btn btn-primary tooltip sm" data-tooltip="Top tooltip"&gt;Top tooltip&lt;/button&gt;

        &lt;!-- Right tooltip --&gt;
        &lt;button class="btn btn-primary tooltip sm tooltip-right" data-tooltip="Right tooltip"&gt;Right tooltip&lt;/button&gt;

        &lt;!-- Bottom tooltip --&gt;
        &lt;button class="btn btn-primary tooltip sm tooltip-bottom" data-tooltip="Bottom tooltip"&gt;Bottom tooltip&lt;/button&gt;


        &lt;!-- Left tooltip --&gt;
        &lt;button class="btn btn-primary tooltip sm tooltip-left" data-tooltip="Left tooltip"&gt;Left tooltip&lt;/button&gt;
    </code>
</pre>


<!-- white tooltips -->
<div>White Tooltips</div>
<div class="columns">
    <!-- Top tooltip -->
    <div class="column col-2">
        <button class="btn btn-primary tooltip sm white" data-tooltip="Top tooltip">Top tooltip</button>
    </div>

    <!-- Right tooltip -->
    <div class="column col-2">
        <button class="btn btn-primary tooltip sm tooltip-right white" data-tooltip="Right tooltip">Right tooltip</button>
    </div>

    <!-- Bottom tooltip -->
    <div class="column col-2">
        <button class="btn btn-primary tooltip sm tooltip-bottom white" data-tooltip="Bottom tooltip">Bottom tooltip</button>
    </div>

    <!-- Left tooltip -->
    <div class="column col-2">
        <button class="btn btn-primary tooltip sm tooltip-left white" data-tooltip="Left tooltip">Left tooltip</button>
    </div>
</div>


<!-- documented code -->
<pre>
    <code>
        &lt;!-- white tooltips --&gt;
        &lt;!-- Top tooltip --&gt;
        &lt;button class="btn btn-primary tooltip sm white" data-tooltip="Top tooltip"&gt;Top tooltip&lt;/button&gt;

        &lt;!-- Right tooltip --&gt;
        &lt;button class="btn btn-primary tooltip sm tooltip-right white" data-tooltip="Right tooltip"&gt;Right tooltip&lt;/button&gt;

        &lt;!-- Bottom tooltip --&gt;
        &lt;button class="btn btn-primary tooltip sm tooltip-bottom white" data-tooltip="Bottom tooltip"&gt;Bottom tooltip&lt;/button&gt;


        &lt;!-- Left tooltip --&gt;
        &lt;button class="btn btn-primary tooltip sm tooltip-left white" data-tooltip="Left tooltip"&gt;Left tooltip&lt;/button&gt;
    </code>
</pre>


<!-- primary tooltips -->
<div>Primary Tooltips</div>
<div class="columns">
    <!-- Top tooltip -->
    <div class="column col-2">
        <button class="btn btn-primary tooltip sm primary" data-tooltip="Top tooltip">Top tooltip</button>
    </div>

    <!-- Right tooltip -->
    <div class="column col-2">
        <button class="btn btn-primary tooltip sm tooltip-right primary" data-tooltip="Right tooltip">Right tooltip</button>
    </div>

    <!-- Bottom tooltip -->
    <div class="column col-2">
        <button class="btn btn-primary tooltip sm tooltip-bottom primary" data-tooltip="Bottom tooltip">Bottom tooltip</button>
    </div>

    <!-- Left tooltip -->
    <div class="column col-2">
        <button class="btn btn-primary tooltip sm tooltip-left primary" data-tooltip="Left tooltip">Left tooltip</button>
    </div>
</div>


<!-- documented code -->
<pre>
    <code>
        &lt;!-- primary tooltips --&gt;
        &lt;!-- Top tooltip --&gt;
        &lt;button class="btn btn-primary tooltip sm primary" data-tooltip="Top tooltip"&gt;Top tooltip&lt;/button&gt;

        &lt;!-- Right tooltip --&gt;
        &lt;button class="btn btn-primary tooltip sm tooltip-right primary" data-tooltip="Right tooltip"&gt;Right tooltip&lt;/button&gt;

        &lt;!-- Bottom tooltip --&gt;
        &lt;button class="btn btn-primary tooltip sm tooltip-bottom primary" data-tooltip="Bottom tooltip"&gt;Bottom tooltip&lt;/button&gt;


        &lt;!-- Left tooltip --&gt;
        &lt;button class="btn btn-primary tooltip sm tooltip-left primary" data-tooltip="Left tooltip"&gt;Left tooltip&lt;/button&gt;

    </code>
</pre>

<div>Default Triangle Pointed hovering Tooltips</div>
<div class="columns">
  <!-- Top tooltip -->
  <div class="column col-2">
    <button class="btn btn-primary sm default-pointed-tooltip top-tooltip">
      Top tooltip
      <div class="pointed-tooltip">
        <div class="tooltip-text">Top Tooltip</div>
      </div>
    </button>
  </div>

  <!-- Right tooltip -->
  <div class="column col-2">
    <button class="btn btn-primary sm default-pointed-tooltip right-tooltip">
      Right tooltip
      <div class="pointed-tooltip">
        <div class="tooltip-text">Right Tooltip</div>
      </div>
    </button>
  </div>

  <!-- Bottom tooltip -->
  <div class="column col-2">
    <button class="btn btn-primary sm default-pointed-tooltip bottom-tooltip">
      Bottom tooltip
      <div class="pointed-tooltip">
        <div class="tooltip-text">Bottom Tooltip</div>
      </div>
    </button>
  </div>

  <!-- Left tooltip -->
  <div class="column col-2">
    <button class="btn btn-primary sm default-pointed-tooltip left-tooltip">
      Left tooltip
      <div class="pointed-tooltip">
        <div class="tooltip-text">Left Tooltip</div>
      </div>
    </button>
  </div>
</div>

<!-- documented code -->
<pre>
  <code>
    &lt;!-- Default Triangle Pointed hovering Tooltips --!&gt;

    &lt;!-- Top Tooltip --!&gt;
    &lt;button class="btn btn-primary sm default-pointed-tooltip top-tooltip"&gt;
      Top tooltip
      &lt;div class="pointed-tooltip"&gt;
        &lt;div class="tooltip-text"&gt;Top Tooltip&lt;/div&gt;
      &lt;/div&gt;
    &lt;/button&gt;

    &lt;!-- Right Tooltip --!&gt;
    &lt;button class="btn btn-primary sm default-pointed-tooltip right-tooltip"&gt;
      Right tooltip
      &lt;div class="pointed-tooltip"&gt;
        &lt;div class="tooltip-text"&gt;Right Tooltip&lt;/div&gt;
      &lt;/div&gt;
    &lt;/button&gt;

    &lt;!-- Bottom Tooltip --!&gt;
    &lt;button class="btn btn-primary sm default-pointed-tooltip bottom-tooltip"&gt;
      Bottom tooltip
      &lt;div class="pointed-tooltip"&gt;
        &lt;div class="tooltip-text"&gt;Bottom Tooltip&lt;/div&gt;
      &lt;/div&gt;
    &lt;/button&gt;

    &lt;!-- Left Tooltip --!&gt;
    &lt;button class="btn btn-primary sm default-pointed-tooltip left-tooltip"&gt;
      Left tooltip
      &lt;div class="pointed-tooltip"&gt;
        &lt;div class="tooltip-text"&gt;Left Tooltip&lt;/div&gt;
      &lt;/div&gt;
    &lt;/button&gt;

  </code>
</pre>

<div>Custom CDK Tooltips</div>
<div class="columns p14">
    <!-- top tooltip -->
    <div class="column col-3 p0">
        <span uiCustomTooltip [template]="customTopTooltipRef">
            <button class="btn btn-primary sm">Top CDK tooltip</button>
        </span>
    </div>
    <ng-template #customTopTooltipRef>
      <div class="cdk-top-tooltip">
        <div class="cdk-tooltip-text">Top CDK Tooltip</div>
      </div>
    </ng-template>
    <!-- right tooltip -->
    <div class="column col-3 p0">
      <span uiCustomTooltip [template]="customRightTooltipRef">
          <button class="btn btn-primary sm">Right CDK tooltip</button>
      </span>
    </div>
    <ng-template #customRightTooltipRef>
      <div class="cdk-right-tooltip">
        <div class="cdk-tooltip-text">Right CDK Tooltip</div>
      </div>
    </ng-template>
    <!-- bottom tooltip -->
    <div class="column col-3 p0">
      <span uiCustomTooltip [template]="customBottomTooltipRef">
          <button class="btn btn-primary sm">Bottom CDK tooltip</button>
      </span>
    </div>
    <ng-template #customBottomTooltipRef>
      <div class="cdk-bottom-tooltip">
        <div class="cdk-tooltip-text">Bottom CDK Tooltip</div>
      </div>
    </ng-template>
    <!-- left tooltip -->
    <div class="column col-3 p0">
      <span uiCustomTooltip [template]="customLeftTooltipRef">
          <button class="btn btn-primary sm">Left CDK tooltip</button>
      </span>
    </div>
    <ng-template #customLeftTooltipRef>
      <div class="cdk-left-tooltip">
        <div class="cdk-tooltip-text">Left CDK Tooltip</div>
      </div>
    </ng-template>
</div>

<!-- documented code -->
<pre>
  <code>
      &lt;!-- Custom CDK Tooltips --!&gt;

      &lt;!-- CDK Top Tooltip --!&gt;
      &lt;div&gt;
        &lt;!-- Apply [classes]="['auto-width']" on below uiCustomTooltip span/div --!&gt;
        &lt;!-- when your tooltip is to show at top,bottom,right or left edge of screen --!&gt;
        &lt;!-- so that it cannot get cut at edges of screen --!&gt;
        &lt;span uiCustomTooltip [template]="customTopTooltipRef"&gt;
            &lt;button class="btn btn-primary sm"&gt;Top CDK tooltip&lt;/button&gt;
        &lt;/span&gt;
      &lt;/div&gt;
      &lt;ng-template #customTopTooltipRef&gt;
       &lt;div class="cdk-top-tooltip"&gt;
        &lt;div class="cdk-tooltip-text"&gt;Top CDK Tooltip&lt;/div&gt;
       &lt;/div&gt;
      &lt;/ng-template&gt;

      &lt;!-- CDK RIght Tooltip --!&gt;
      &lt;div&gt;
        &lt;!-- Apply [classes]="['auto-width']" on below uiCustomTooltip span/div --!&gt;
        &lt;!-- when your tooltip is to show at top,bottom,right or left edge of screen --!&gt;
        &lt;!-- so that it cannot get cut at edges of screen --!&gt;
        &lt;span uiCustomTooltip [template]="customRightTooltipRef"&gt;
          &lt;button class="btn btn-primary sm"&gt;Right CDK tooltip&lt;/button&gt;
        &lt;/span&gt;
      &lt;/div&gt;
      &lt;ng-template #customRightTooltipRef&gt;
       &lt;div class="cdk-right-tooltip"&gt;
        &lt;div class="cdk-tooltip-text"&gt;Right CDK Tooltip&lt;/div&gt;
       &lt;/div&gt;
      &lt;/ng-template&gt;

      &lt;!-- CDK Bottom Tooltip --!&gt;
      &lt;div&gt;
        &lt;!-- Apply [classes]="['auto-width']" on below uiCustomTooltip span/div --!&gt;
        &lt;!-- when your tooltip is to show at top,bottom,right or left edge of screen --!&gt;
        &lt;!-- so that it cannot get cut at edges of screen --!&gt;
        &lt;span uiCustomTooltip [template]="customBottomTooltipRef"&gt;
          &lt;button class="btn btn-primary sm"&gt;Bottom CDK tooltip&lt;/button&gt;
        &lt;/span&gt;
      &lt;/div&gt;
      &lt;ng-template #customBottomTooltipRef&gt;
       &lt;div class="cdk-bottom-tooltip"&gt;
        &lt;div class="cdk-tooltip-text"&gt;Bottom CDK Tooltip&lt;/div&gt;
       &lt;/div&gt;
      &lt;/ng-template&gt;

      &lt;!-- CDK Left Tooltip --!&gt;
      &lt;div&gt;
        &lt;!-- Apply [classes]="['auto-width']" on below uiCustomTooltip span/div --!&gt;
        &lt;!-- when your tooltip is to show at top,bottom,right or left edge of screen --!&gt;
        &lt;!-- so that it cannot get cut at edges of screen --!&gt;
        &lt;span uiCustomTooltip [template]="customLeftTooltipRef"&gt;
          &lt;button class="btn btn-primary sm"&gt;Left CDK tooltip&lt;/button&gt;
        &lt;/span&gt;
      &lt;/div&gt;
      &lt;ng-template #customLeftTooltipRef&gt;
       &lt;div class="cdk-left-tooltip"&gt;
        &lt;div class="cdk-tooltip-text"&gt;Left CDK Tooltip&lt;/div&gt;
       &lt;/div&gt;
      &lt;/ng-template&gt;
  </code>
</pre>




<!-- User Tour Tooltip with Blinkers -->
<!-- <div class="modal-component">
  <h3 class="classes-modal">User Tour Tooltip with Blinkers:</h3>

  <div class="columns">
    <div class="column col-3">
      <div class="journey-tooltip-wrapper journey-bottom">
        <button class="btn btn-primary sm">User Tour Step</button>
        <div class="tooltip-blinking-circle">
            <div class="small-circle"></div>
            <div class="big-circle"></div>
            <div class="big-circle"></div>
            <div class="big-circle"></div>
            <div class="big-circle"></div>
        </div>
 
        <div class="tooltip-info-box">
          <div class="inner-body">
            <div class="tooltip-main-content">
              <div class="tooltip-main-heading">Save as new</div>
              <div class="tooltip-info-text">Apply filters and save your reports so that you can come back any time and pick it up from wherever you left.</div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path
                    d="M19,6.41,17.59,5,12,10.59,6.41,5,5,6.41,10.59,12,5,17.59,6.41,19,12,13.41,17.59,19,19,17.59,13.41,12Z"
                    transform="translate(0 0)" fill="#ffffff" class="a close-info"></path>
                <path d="M0,0H24V24H0Z" fill="none" class="b close-info"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  
    <div class="column col-3">
      <div class="journey-tooltip-wrapper journey-right">
        <button class="btn btn-primary sm">User Tour Step</button>
        <div class="tooltip-blinking-circle">
            <div class="small-circle"></div>
            <div class="big-circle"></div>
            <div class="big-circle"></div>
            <div class="big-circle"></div>
            <div class="big-circle"></div>
        </div>
 
        <div class="tooltip-info-box">
          <div class="inner-body">
            <div class="tooltip-main-content">
              <div class="tooltip-main-heading">Save as new</div>
              <div class="tooltip-info-text">Apply filters and save your reports so that you can come back any time and pick it up from wherever you left.</div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path
                    d="M19,6.41,17.59,5,12,10.59,6.41,5,5,6.41,10.59,12,5,17.59,6.41,19,12,13.41,17.59,19,19,17.59,13.41,12Z"
                    transform="translate(0 0)" fill="#ffffff" class="a close-info"></path>
                <path d="M0,0H24V24H0Z" fill="none" class="b close-info"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns" style="margin-top: 12rem;justify-content: space-around;">
    <div class="column col-6 text-right">
      <div class="journey-tooltip-wrapper journey-left">
        <button class="btn btn-primary sm">User Tour Step</button>
        <div class="tooltip-blinking-circle">
            <div class="small-circle"></div>
            <div class="big-circle"></div>
            <div class="big-circle"></div>
            <div class="big-circle"></div>
            <div class="big-circle"></div>
        </div>
 
        <div class="tooltip-info-box">
          <div class="inner-body">
            <div class="tooltip-main-content">
              <div class="tooltip-main-heading">Save as new</div>
              <div class="tooltip-info-text">Apply filters and save your reports so that you can come back any time and pick it up from wherever you left.</div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path
                    d="M19,6.41,17.59,5,12,10.59,6.41,5,5,6.41,10.59,12,5,17.59,6.41,19,12,13.41,17.59,19,19,17.59,13.41,12Z"
                    transform="translate(0 0)" fill="#ffffff" class="a close-info"></path>
                <path d="M0,0H24V24H0Z" fill="none" class="b close-info"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="column col-6 text-center">
      <div class="journey-tooltip-wrapper journey-top">
        <button class="btn btn-primary sm">User Tour Step</button>
        <div class="tooltip-blinking-circle">
            <div class="small-circle"></div>
            <div class="big-circle"></div>
            <div class="big-circle"></div>
            <div class="big-circle"></div>
            <div class="big-circle"></div>
        </div>
 
        <div class="tooltip-info-box">
          <div class="inner-body">
            <div class="tooltip-main-content">
              <div class="tooltip-main-heading">Save as new</div>
              <div class="tooltip-info-text">Apply filters and save your reports so that you can come back any time and pick it up from wherever you left.</div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path
                    d="M19,6.41,17.59,5,12,10.59,6.41,5,5,6.41,10.59,12,5,17.59,6.41,19,12,13.41,17.59,19,19,17.59,13.41,12Z"
                    transform="translate(0 0)" fill="#ffffff" class="a close-info"></path>
                <path d="M0,0H24V24H0Z" fill="none" class="b close-info"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
<pre style="margin: 11em 0 1em 0;">
  <code>
    &lt;!-- Bottom tooltip --!&gt;
     &lt;div class="journey-tooltip-wrapper journey-bottom"&gt;
       &lt;button class="btn btn-primary sm"&gt;User Tour Step&lt;/button&gt;
       &lt;div class="tooltip-blinking-circle"&gt;
           &lt;div class="small-circle"&gt;&lt;/div&gt;
           &lt;div class="big-circle"&gt;&lt;/div&gt;
           &lt;div class="big-circle"&gt;&lt;/div&gt;
           &lt;div class="big-circle"&gt;&lt;/div&gt;
           &lt;div class="big-circle"&gt;&lt;/div&gt;
       &lt;/div&gt;

       &lt;div class="tooltip-info-box"&gt;
         &lt;div class="inner-body"&gt;
           &lt;div class="tooltip-main-content"&gt;
             &lt;div class="tooltip-main-heading"&gt;Save as new&lt;/div&gt;
             &lt;div class="tooltip-info-text"&gt;Apply filters and save your reports so that you can come back any time and pick it up from wherever you left.&lt;/div&gt;
           &lt;/div&gt;
           &lt;svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"&gt;
               &lt;path
                   d="M19,6.41,17.59,5,12,10.59,6.41,5,5,6.41,10.59,12,5,17.59,6.41,19,12,13.41,17.59,19,19,17.59,13.41,12Z"
                   transform="translate(0 0)" fill="#ffffff" class="a close-info"&gt;&lt;/path&gt;
               &lt;path d="M0,0H24V24H0Z" fill="none" class="b close-info"&gt;&lt;/path&gt;
           &lt;/svg&gt;
         &lt;/div&gt;
       &lt;/div&gt;
     &lt;/div&gt;


     &lt;!-- Right tooltip --!&gt;
     &lt;div class="journey-tooltip-wrapper journey-right"&gt;
       &lt;button class="btn btn-primary sm"&gt;User Tour Step&lt;/button&gt;
       &lt;div class="tooltip-blinking-circle"&gt;
           &lt;div class="small-circle"&gt;&lt;/div&gt;
           &lt;div class="big-circle"&gt;&lt;/div&gt;
           &lt;div class="big-circle"&gt;&lt;/div&gt;
           &lt;div class="big-circle"&gt;&lt;/div&gt;
           &lt;div class="big-circle"&gt;&lt;/div&gt;
       &lt;/div&gt;

       &lt;div class="tooltip-info-box"&gt;
         &lt;div class="inner-body"&gt;
           &lt;div class="tooltip-main-content"&gt;
             &lt;div class="tooltip-main-heading"&gt;Save as new&lt;/div&gt;
             &lt;div class="tooltip-info-text"&gt;Apply filters and save your reports so that you can come back any time and pick it up from wherever you left.&lt;/div&gt;
           &lt;/div&gt;
           &lt;svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"&gt;
               &lt;path
                   d="M19,6.41,17.59,5,12,10.59,6.41,5,5,6.41,10.59,12,5,17.59,6.41,19,12,13.41,17.59,19,19,17.59,13.41,12Z"
                   transform="translate(0 0)" fill="#ffffff" class="a close-info"&gt;&lt;/path&gt;
               &lt;path d="M0,0H24V24H0Z" fill="none" class="b close-info"&gt;&lt;/path&gt;
           &lt;/svg&gt;
         &lt;/div&gt;
       &lt;/div&gt;
     &lt;/div&gt;


     &lt;!-- Left tooltip --!&gt;
     &lt;div class="journey-tooltip-wrapper journey-left"&gt;
       &lt;button class="btn btn-primary sm"&gt;User Tour Step&lt;/button&gt;
       &lt;div class="tooltip-blinking-circle"&gt;
           &lt;div class="small-circle"&gt;&lt;/div&gt;
           &lt;div class="big-circle"&gt;&lt;/div&gt;
           &lt;div class="big-circle"&gt;&lt;/div&gt;
           &lt;div class="big-circle"&gt;&lt;/div&gt;
           &lt;div class="big-circle"&gt;&lt;/div&gt;
       &lt;/div&gt;

       &lt;div class="tooltip-info-box"&gt;
         &lt;div class="inner-body"&gt;
           &lt;div class="tooltip-main-content"&gt;
             &lt;div class="tooltip-main-heading"&gt;Save as new&lt;/div&gt;
             &lt;div class="tooltip-info-text"&gt;Apply filters and save your reports so that you can come back any time and pick it up from wherever you left.&lt;/div&gt;
           &lt;/div&gt;
           &lt;svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"&gt;
               &lt;path
                   d="M19,6.41,17.59,5,12,10.59,6.41,5,5,6.41,10.59,12,5,17.59,6.41,19,12,13.41,17.59,19,19,17.59,13.41,12Z"
                   transform="translate(0 0)" fill="#ffffff" class="a close-info"&gt;&lt;/path&gt;
               &lt;path d="M0,0H24V24H0Z" fill="none" class="b close-info"&gt;&lt;/path&gt;
           &lt;/svg&gt;
         &lt;/div&gt;
       &lt;/div&gt;
     &lt;/div&gt;


     &lt;!-- Top tooltip --!&gt;
     &lt;div class="journey-tooltip-wrapper journey-top"&gt;
       &lt;button class="btn btn-primary sm"&gt;User Tour Step&lt;/button&gt;
       &lt;div class="tooltip-blinking-circle"&gt;
           &lt;div class="small-circle"&gt;&lt;/div&gt;
           &lt;div class="big-circle"&gt;&lt;/div&gt;
           &lt;div class="big-circle"&gt;&lt;/div&gt;
           &lt;div class="big-circle"&gt;&lt;/div&gt;
           &lt;div class="big-circle"&gt;&lt;/div&gt;
       &lt;/div&gt;

       &lt;div class="tooltip-info-box"&gt;
         &lt;div class="inner-body"&gt;
           &lt;div class="tooltip-main-content"&gt;
             &lt;div class="tooltip-main-heading"&gt;Save as new&lt;/div&gt;
             &lt;div class="tooltip-info-text"&gt;Apply filters and save your reports so that you can come back any time and pick it up from wherever you left.&lt;/div&gt;
           &lt;/div&gt;
           &lt;svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"&gt;
               &lt;path
                   d="M19,6.41,17.59,5,12,10.59,6.41,5,5,6.41,10.59,12,5,17.59,6.41,19,12,13.41,17.59,19,19,17.59,13.41,12Z"
                   transform="translate(0 0)" fill="#ffffff" class="a close-info"&gt;&lt;/path&gt;
               &lt;path d="M0,0H24V24H0Z" fill="none" class="b close-info"&gt;&lt;/path&gt;
           &lt;/svg&gt;
         &lt;/div&gt;
       &lt;/div&gt;
     &lt;/div&gt;
  </code>
</pre>

  <h3 class="classes-modal">Classes for Blinkers Tooltip:</h3>
  <div class="default-table table-custom-view">
    <table class="table table-hover table-filter table-noborder">
        <thead>
            <tr>
                <th><strong>Class Name</strong></th>
                <th><strong>Class Use in Tooltip</strong></th>
                <th><strong>Code</strong></th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div>
                <strong>journey-tooltip-wrapper,</strong>
              </div>
              <div>
                <strong>journey-bottom</strong>
              </div>
            </td>
            <td>Both are default classes, use in Blinkers tooltip</td>
            <td>
                &lt;div class="<span class="s">journey-tooltip-wrapper hovering-action-bottom-tooltip"</span>&gt;
                    <div class="dot-circle">...</div>
                &lt;/div&gt;
            </td>
          </tr>
          <tr>
            <td><strong>hovering-action-right-tooltip</strong></td>
            <td>It is use for right side hovering tooltip</td>
            <td>
              &lt;div class="<span class="s">journey-tooltip-wrapper hovering-action-right-tooltip"</span>&gt;
                  <div class="dot-circle">...</div>
              &lt;/div&gt;
            </td>
          </tr>
          
        </tbody>
    </table>
  </div>
</div> -->





<!-- User Tour Tooltip -->
<div class="modal-component">
    <h3 class="classes-modal">User Step Tour Tooltip:</h3>

    <div class="columns m0">
      <div class="column col-6">
        <div class="step-tooltip-wrapper">
          <button class="btn btn-primary sm">Bottom Tooltip</button>
          <div class="tooltip-info-box">
            <div class="inner-body">
              <div class="tooltip-main-content">
                <div class="tooltip-main-heading">Save as new</div>
                <div class="tooltip-info-text">Apply filters and save your reports so that you can come back any time and pick it up from wherever you left.</div>
              </div>
              <div class="skip-tour-step">Skip</div>
              <div class="tooltip-main-footer">
                <div class="tour-progress-wrapper">
                  <div class="tour-progress">
                    <div class="tour-progress-line"></div>
                  </div>
                  <div class="tour-step-number">1/5</div>
                </div>
                <button class="btn btn-primary sm">Next</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column col-6">
        <div class="step-tooltip-wrapper step-journey-right">
          <button class="btn btn-primary sm">Right Tooltip</button>
          <div class="tooltip-info-box">
            <div class="inner-body">
              <div class="tooltip-main-content">
                <div class="tooltip-main-heading">Save as new</div>
                <div class="tooltip-info-text">Apply filters and save your reports so that you can come back any time and pick it up from wherever you left.</div>
              </div>
              <div class="skip-tour-step">Skip</div>
              <div class="tooltip-main-footer">
                <div class="tour-progress-wrapper">
                  <div class="tour-progress">
                    <div class="tour-progress-line"></div>
                  </div>
                  <div class="tour-step-number">1/5</div>
                </div>
                <button class="btn btn-primary sm">Next</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns m0" style="padding: 14rem 0 0;justify-content: center;">
      <div class="column col-6 text-right">
        <div class="step-tooltip-wrapper step-journey-left">
          <button class="btn btn-primary sm">Left Tooltip</button>
          <div class="tooltip-info-box">
            <div class="inner-body">
              <div class="tooltip-main-content">
                <div class="tooltip-main-heading">Save as new</div>
                <div class="tooltip-info-text">Apply filters and save your reports so that you can come back any time and pick it up from wherever you left.</div>
              </div>
              <div class="skip-tour-step">Skip</div>
              <div class="tooltip-main-footer">
                <div class="tour-progress-wrapper">
                  <div class="tour-progress">
                    <div class="tour-progress-line"></div>
                  </div>
                  <div class="tour-step-number">1/5</div>
                </div>
                <button class="btn btn-primary sm">Next</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column col-6">
        <div class="step-tooltip-wrapper step-journey-top">
          <button class="btn btn-primary sm">Top Tooltip</button>
          <div class="tooltip-info-box">
            <div class="inner-body">
              <div class="tooltip-main-content">
                <div class="tooltip-main-heading">Save as new</div>
                <div class="tooltip-info-text">Apply filters and save your reports so that you can come back any time and pick it up from wherever you left.</div>
              </div>
              <div class="skip-tour-step">Skip</div>
              <div class="tooltip-main-footer">
                <div class="tour-progress-wrapper">
                  <div class="tour-progress">
                    <div class="tour-progress-line"></div>
                  </div>
                  <div class="tour-step-number">1/5</div>
                </div>
                <button class="btn btn-primary sm">Next</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- documented code -->
<pre>
  <code>
    &lt;!-- Bottom tooltip, by default in bottom --!&gt;

    &lt;div class="step-tooltip-wrapper"&gt;
      &lt;button class="btn btn-primary sm"&gt;Bottom Tooltip&lt;/button&gt;
      &lt;div class="tooltip-info-box"&gt;
        &lt;div class="inner-body"&gt;
          &lt;div class="tooltip-main-content"&gt;
            &lt;div class="tooltip-main-heading"&gt;Save as new&lt;/div&gt;
            &lt;div class="tooltip-info-text"&gt;Apply filters and save your reports so that you can come back any time and pick it up from wherever you left.&lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="skip-tour-step"&gt;Skip&lt;/div&gt;
          &lt;div class="tooltip-main-footer"&gt;
            &lt;div class="tour-progress-wrapper"&gt;
              &lt;div class="tour-progress"&gt;
                &lt;div class="tour-progress-line"&gt;&lt;/div&gt;
              &lt;/div&gt;
              &lt;div class="tour-step-number"&gt;1/5&lt;/div&gt;
            &lt;/div&gt;
            &lt;button class="btn btn-primary sm"&gt;Next&lt;/button&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  </code>
</pre>


<h3 class="classes-modal">User Blinking Tour Tooltip:</h3>
<div class="columns m0">
  <div class="column col-6">
    <div class="step-tooltip-wrapper">
      <button class="btn btn-primary sm">Bottom Tooltip</button>
      <div class="tooltip-blinking-circle">
        <div class="small-circle"></div>
        <div class="big-circle"></div>
        <div class="big-circle"></div>
        <div class="big-circle"></div>
        <div class="big-circle"></div>
      </div>
      <div class="tooltip-info-box">
        <div class="inner-body">
          <div class="tooltip-main-content">
            <div class="tooltip-main-heading">Save as new</div>
            <div class="tooltip-info-text">Apply filters and save your reports so that you can come back any time and pick it up from wherever you left.</div>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path
                d="M19,6.41,17.59,5,12,10.59,6.41,5,5,6.41,10.59,12,5,17.59,6.41,19,12,13.41,17.59,19,19,17.59,13.41,12Z"
                transform="translate(0 0)" fill="#ffffff" class="a close-info"></path>
            <path d="M0,0H24V24H0Z" fill="none" class="b close-info"></path>
          </svg>
        </div>
      </div>
    </div>    
  </div>
  <div class="column col-6">
    <div class="step-tooltip-wrapper step-journey-right">
      <button class="btn btn-primary sm">Right Tooltip</button>
      <div class="tooltip-blinking-circle">
        <div class="small-circle"></div>
        <div class="big-circle"></div>
        <div class="big-circle"></div>
        <div class="big-circle"></div>
        <div class="big-circle"></div>
      </div>
      <div class="tooltip-info-box">
        <div class="inner-body">
          <div class="tooltip-main-content">
            <div class="tooltip-main-heading">Save as new</div>
            <div class="tooltip-info-text">Apply filters and save your reports so that you can come back any time and pick it up from wherever you left.</div>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path
                d="M19,6.41,17.59,5,12,10.59,6.41,5,5,6.41,10.59,12,5,17.59,6.41,19,12,13.41,17.59,19,19,17.59,13.41,12Z"
                transform="translate(0 0)" fill="#ffffff" class="a close-info"></path>
            <path d="M0,0H24V24H0Z" fill="none" class="b close-info"></path>
          </svg>
        </div>
      </div>
    </div>  
  </div>
</div>
<div class="columns m0" style="padding: 14rem 0 0;justify-content: center;">
  <div class="column col-6 text-right">
    <div class="step-tooltip-wrapper step-journey-left">
      <button class="btn btn-primary sm">Left Tooltip</button>
      <div class="tooltip-blinking-circle">
        <div class="small-circle"></div>
        <div class="big-circle"></div>
        <div class="big-circle"></div>
        <div class="big-circle"></div>
        <div class="big-circle"></div>
      </div>
      <div class="tooltip-info-box">
        <div class="inner-body">
          <div class="tooltip-main-content">
            <div class="tooltip-main-heading">Save as new</div>
            <div class="tooltip-info-text">Apply filters and save your reports so that you can come back any time and pick it up from wherever you left.</div>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path
                d="M19,6.41,17.59,5,12,10.59,6.41,5,5,6.41,10.59,12,5,17.59,6.41,19,12,13.41,17.59,19,19,17.59,13.41,12Z"
                transform="translate(0 0)" fill="#ffffff" class="a close-info"></path>
            <path d="M0,0H24V24H0Z" fill="none" class="b close-info"></path>
          </svg>
        </div>
      </div>
    </div>  
  </div>
  <div class="column col-6">
    <div class="step-tooltip-wrapper step-journey-top">
      <button class="btn btn-primary sm">Top Tooltip</button>
      <div class="tooltip-blinking-circle">
        <div class="small-circle"></div>
        <div class="big-circle"></div>
        <div class="big-circle"></div>
        <div class="big-circle"></div>
        <div class="big-circle"></div>
      </div>
      <div class="tooltip-info-box step-blink-top">
        <div class="inner-body">
          <div class="tooltip-main-content">
            <div class="tooltip-main-heading">Save as new</div>
            <div class="tooltip-info-text">Apply filters and save your reports so that you can come back any time and pick it up from wherever you left.</div>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path
                d="M19,6.41,17.59,5,12,10.59,6.41,5,5,6.41,10.59,12,5,17.59,6.41,19,12,13.41,17.59,19,19,17.59,13.41,12Z"
                transform="translate(0 0)" fill="#ffffff" class="a close-info"></path>
            <path d="M0,0H24V24H0Z" fill="none" class="b close-info"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- documented code -->
<pre>
<code>
&lt;!-- Bottom tooltip, by default in bottom --!&gt;

&lt;div class="step-tooltip-wrapper"&gt;
  &lt;button class="btn btn-primary sm"&gt;Bottom Tooltip&lt;/button&gt;
  &lt;div class="tooltip-blinking-circle"&gt;
    &lt;div class="small-circle">&lt;/div&gt;
    &lt;div class="big-circle">&lt;/div&gt;
    &lt;div class="big-circle">&lt;/div&gt;
    &lt;div class="big-circle">&lt;/div&gt;
    &lt;div class="big-circle">&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="tooltip-info-box"&gt;
    &lt;div class="inner-body"&gt;
      &lt;div class="tooltip-main-content"&gt;
        &lt;div class="tooltip-main-heading"&gt;Save as new&lt;/div&gt;
        &lt;div class="tooltip-info-text"&gt;Apply filters and save your reports so that you can come back any time and pick it up from wherever you left.&lt;/div&gt;
      &lt;/div&gt;
      &lt;svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"&gt;
        &lt;path
            d="M19,6.41,17.59,5,12,10.59,6.41,5,5,6.41,10.59,12,5,17.59,6.41,19,12,13.41,17.59,19,19,17.59,13.41,12Z"
            transform="translate(0 0)" fill="#ffffff" class="a close-info"&gt;&lt;/path&gt;
        &lt;path d="M0,0H24V24H0Z" fill="none" class="b close-info"&gt;&lt;/path&gt;
      &lt;/svg&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>

<h3 class="classes-modal">Classes for User Tour Tooltip:</h3>
<div class="default-table table-custom-view">
  <table class="table table-hover table-filter table-noborder">
      <thead>
          <tr>
              <th><strong>Class Name</strong></th>
              <th><strong>Class Use in Tooltip</strong></th>
              <th><strong>Code</strong></th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>step-tooltip-wrapper</strong></td>
          <td>It is default class and tooltip show in bottom, this class use in User Tour tooltip</td>
          <td>
              &lt;div class="<span class="s">step-tooltip-wrapper"</span>&gt;
                  <div class="dot-circle">...</div>
              &lt;/div&gt;
          </td>
        </tr>

        <tr>
          <td><strong>step-journey-right</strong></td>
          <td>It is use for right side User Tour tooltip</td>
          <td>
              &lt;div class="<span class="s">step-tooltip-wrapper step-journey-right"</span>&gt;
                  <div class="dot-circle">...</div>
              &lt;/div&gt;
          </td>
        </tr>

        <tr>
          <td><strong>step-journey-left</strong></td>
          <td>It is use for left side User Tour tooltip</td>
          <td>
              &lt;div class="<span class="s">step-tooltip-wrapper step-journey-left"</span>&gt;
                  <div class="dot-circle">...</div>
              &lt;/div&gt;
          </td>
        </tr>

        <tr>
          <td><strong>step-journey-top</strong></td>
          <td>It is use for top side User Tour tooltip</td>
          <td>
              &lt;div class="<span class="s">step-tooltip-wrapper step-journey-top"</span>&gt;
                  <div class="dot-circle">...</div>
              &lt;/div&gt;
          </td>
        </tr>
        
      </tbody>
  </table>
</div>
</div>




<!-- Hovering Action tooltip -->
<div class="modal-component">
  <h3 class="classes-modal">Hovering Action tooltip:</h3>

  <div class="columns" style="margin-bottom: 6.5rem;">
    <div class="column col-3">
      <div class="step-tooltip-wrapper hovering-action-tooltip">
        <button class="btn btn-primary sm">Bottom Tooltip</button>
        <div class="tooltip-info-box">
          <div class="inner-body">
            <div class="tooltip-main-content">
              <div class="tooltip-info-text">Perform an action to continue.</div>
            </div>
            <div class="tooltip-main-footer">
             <button class="btn btn-pacific-transparent xs">Action</button>
             <button class="btn btn-pacific-secondary xs">Keep It</button>
           </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column col-3">
      <div class="step-tooltip-wrapper hovering-action-tooltip step-journey-right">
        <button class="btn btn-primary sm">Right Tooltip</button>
        <div class="tooltip-info-box">
          <div class="inner-body">
            <div class="tooltip-main-content">
              <div class="tooltip-info-text">Perform an action to continue.</div>
            </div>
            <div class="tooltip-main-footer">
             <button class="btn btn-pacific-transparent xs">Action</button>
             <button class="btn btn-pacific-secondary xs">Keep It</button>
           </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column col-3">
      <div class="step-tooltip-wrapper hovering-action-tooltip step-journey-left">
        <button class="btn btn-primary sm">Left Tooltip</button>
        <div class="tooltip-info-box">
          <div class="inner-body">
            <div class="tooltip-main-content">
              <div class="tooltip-info-text">Perform an action to continue.</div>
            </div>
            <div class="tooltip-main-footer">
             <button class="btn btn-pacific-transparent xs">Action</button>
             <button class="btn btn-pacific-secondary xs">Keep It</button>
           </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column col-3">
      <div class="step-tooltip-wrapper hovering-action-tooltip step-journey-top">
        <button class="btn btn-primary sm">Top Tooltip</button>
        <div class="tooltip-info-box">
          <div class="inner-body">
            <div class="tooltip-main-content">
              <div class="tooltip-info-text">Perform an action to continue.</div>
            </div>
            <div class="tooltip-main-footer">
             <button class="btn btn-pacific-transparent xs">Action</button>
             <button class="btn btn-pacific-secondary xs">Keep It</button>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- documented code -->
<pre>
  <code>
    &lt;!-- Bottom Default Tooltip --!&gt;
     &lt;div class="step-tooltip-wrapper hovering-action-tooltip"&gt;
       &lt;button class="btn btn-primary sm"&gt;Bottom Tooltip&lt;/button&gt;
       &lt;div class="tooltip-info-box"&gt;
         &lt;div class="inner-body"&gt;
           &lt;div class="tooltip-main-content"&gt;
             &lt;div class="tooltip-info-text"&gt;Perform an action to continue.&lt;/div&gt;
           &lt;/div&gt;
           &lt;div class="tooltip-main-footer"&gt;
            &lt;button class="btn btn-pacific-transparent xs"&gt;Action&lt;/button&gt;
            &lt;button class="btn btn-pacific-secondary xs"&gt;Keep It&lt;/button&gt;
          &lt;/div&gt;
         &lt;/div&gt;
       &lt;/div&gt;
     &lt;/div&gt;
  </code>
</pre>

  <h3 class="classes-modal">Classes for Hovering Action tooltip:</h3>
  <div class="default-table table-custom-view">
    <table class="table table-hover table-filter table-noborder">
        <thead>
            <tr>
                <th><strong>Class Name</strong></th>
                <th><strong>Class Use in Tooltip</strong></th>
                <th><strong>Code</strong></th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div>
                <strong>step-tooltip-wrapper,</strong>
              </div>
              <div>
                <strong>hovering-action-tooltip</strong>
              </div>
            </td>
            <td>Both are default classes, use in hovering tooltip</td>
            <td>
                &lt;div class="<span class="s">step-tooltip-wrapper hovering-action-tooltip"</span>&gt;
                    <div class="dot-circle">...</div>
                &lt;/div&gt;
            </td>
          </tr>
          <tr>
            <td><strong>step-journey-right</strong></td>
            <td>It is use for right side hovering tooltip</td>
            <td>
              &lt;div class="<span class="s">step-tooltip-wrapper hovering-action-tooltip step-journey-right"</span>&gt;
                  <div class="dot-circle">...</div>
              &lt;/div&gt;
            </td>
          </tr>

          <tr>
            <td><strong>step-journey-left</strong></td>
            <td>It is use for left side hovering tooltip</td>
            <td>
              &lt;div class="<span class="s">step-tooltip-wrapper hovering-action-tooltip step-journey-left"</span>&gt;
                  <div class="dot-circle">...</div>
              &lt;/div&gt;
            </td>
          </tr>

          <tr>
            <td><strong>step-journey-top</strong></td>
            <td>It is use for top side hovering tooltip</td>
            <td>
              &lt;div class="<span class="s">step-tooltip-wrapper hovering-action-tooltip step-journey-top"</span>&gt;
                  <div class="dot-circle">...</div>
              &lt;/div&gt;
            </td>
          </tr>
          
        </tbody>
    </table>
  </div>
</div>

