<div class="component-title">
    <h2>Checkboxes</h2>
</div>
<div class="component-heading">Checkbox group</div>

<!-- checkbox group -->
<div class="column col-12">
    <div class="form-group">
        <!-- default checkbox -->
        <div>
            <label class="form-checkbox">
                <input type="checkbox"> Option 
                <i class="form-icon"></i>
            </label>
        </div>
        <div>
            <label class="form-checkbox">
                <input type="checkbox"> Option 
                <i class="form-icon"></i>
            </label>
        </div>
    </div>        
</div>
<!-- checkbox group end-->

<!-- documented code -->
<pre>
    <code>
            &lt;div class="form-group"&gt;
            &lt;!-- default checkbox --&gt;
            &lt;div&gt;
                &lt;label class="form-checkbox"&gt;
                    &lt;input type="checkbox"&gt; Option 
                    &lt;i class="form-icon"&gt;&lt;/i&gt;
                &lt;/label&gt;
            &lt;/div&gt;
            &lt;div&gt;
                &lt;label class="form-checkbox"&gt;
                    &lt;input type="checkbox"&gt; Option 
                    &lt;i class="form-icon"&gt;&lt;/i&gt;
                &lt;/label&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    </code>
</pre>

<div class="column col-12">
    <div class="form-group">
        <!-- default checkbox -->
        <label class="form-checkbox">
            <input type="checkbox"> Default 
            <i class="form-icon"></i>
        </label>

        <!-- light  checkbox type -->
        <label class="form-checkbox light">
            <input type="checkbox"> Light
            <i class="form-icon"></i>
        </label>

        <!-- disabled checkbox -->
        <label class="form-checkbox">
            <input type="checkbox" checked="" disabled> Disable
            <i class="form-icon"></i>
        </label>

        <!-- error checked type checkbox -->
        <label class="form-checkbox error-border">
            <input type="checkbox" checked=""> Error border
            <i class="form-icon"></i>
        </label>

        <!-- blue border type checkbox -->
        <label class="form-checkbox primary">
            <input type="checkbox" checked=""> Blue border
            <i class="form-icon"></i>
        </label>

        <!-- light blue type checkbox -->
        <label class="form-checkbox light-blue">
            <input type="checkbox" checked=""> Light Blue
            <i class="form-icon"></i>
        </label>

        <!-- error checkbox-->
        <label class="form-checkbox is-error">
            <input type="checkbox"> Error
            <i class="form-icon"></i>
        </label>

        <!-- success checkbox -->
        <label class="form-checkbox is-success">
            <input type="checkbox"> Success
            <i class="form-icon"></i>
        </label>

    </div>
</div>


<!-- documented code -->
<pre>
        <code>
        &lt;div class="form-group"&gt;
        &lt;!-- default checkbox --&gt;
        &lt;label class="form-checkbox"&gt;
            &lt;input type="checkbox"&gt; Default 
            &lt;i class="form-icon"&gt;&lt;/i&gt;
        &lt;/label&gt;

        &lt;!-- light  checkbox type --&gt;
        &lt;label class="form-checkbox light"&gt;
            &lt;input type="checkbox"&gt; Light
            &lt;i class="form-icon"&gt;&lt;/i&gt;
        &lt;/label&gt;

        &lt;!-- disabled checkbox --&gt;
        &lt;label class="form-checkbox"&gt;
            &lt;input type="checkbox" checked="" disabled&gt; Disable
            &lt;i class="form-icon"&gt;&lt;/i&gt;
        &lt;/label&gt;

        &lt;!-- error checked type checkbox --&gt;
        &lt;label class="form-checkbox error-border"&gt;
            &lt;input type="checkbox" checked=""&gt; Error border
            &lt;i class="form-icon"&gt;&lt;/i&gt;
        &lt;/label&gt;

        &lt;!-- blue border type checkbox --&gt;
        &lt;label class="form-checkbox primary"&gt;
            &lt;input type="checkbox" checked=""&gt; Blue border
            &lt;i class="form-icon"&gt;&lt;/i&gt;
        &lt;/label&gt;

        &lt;!-- light blue type checkbox --&gt;
        &lt;label class="form-checkbox light-blue"&gt;
            &lt;input type="checkbox" checked=""&gt; Light Blue
            &lt;i class="form-icon"&gt;&lt;/i&gt;
        &lt;/label&gt;

        &lt;!-- error checkbox--&gt;
        &lt;label class="form-checkbox is-error"&gt;
            &lt;input type="checkbox"&gt; Error
            &lt;i class="form-icon"&gt;&lt;/i&gt;
        &lt;/label&gt;

        &lt;!-- success checkbox --&gt;
        &lt;label class="form-checkbox is-success"&gt;
            &lt;input type="checkbox"&gt; Success
            &lt;i class="form-icon"&gt;&lt;/i&gt;
        &lt;/label&gt;

    &lt;/div&gt;
        </code>
    </pre>