<div class="component-title">
    <h2>Banners</h2>
</div>

<div class="columns">
    <div class="column col-12">
        <!-- primary -->
        <div class="toast toast-primary">
            <!-- use below button for clear cross icon -->
            <button class="btn btn-clear float-right">
                <img src="assets/images/svg/clear-icon.svg"/>
            </button>
            Primary banner
        </div>
    </div>

    <!-- documented code -->
    <div class="column col-12">
        <pre>
            <code>
                &lt;div class="toast toast-primary"&gt;
                    &lt;!-- use below button for clear cross icon --&gt;
                    &lt;button class="btn btn-clear float-right"&gt;
                        &lt;img src="assets/images/svg/clear-icon.svg"/&gt;
                    &lt;/button&gt;
                    Primary banner
                &lt;/div&gt;
            </code>
        </pre>
    </div>

    <!-- success -->
    <div class="column col-12">
        <div class="toast toast-success">
            <button class="btn btn-clear float-right">
                <img src="assets/images/svg/clear-icon.svg"/>
            </button>
            Success banner
        </div>
    </div>

    <!-- documented code -->
    <div class="column col-12">
        <pre>
            <code>
                &lt;div class="toast toast-success"&gt;
                    &lt;!-- use below button for clear cross icon --&gt;
                    &lt;button class="btn btn-clear float-right"&gt;
                        &lt;img src="assets/images/svg/clear-icon.svg"/&gt;
                    &lt;/button&gt;
                    Primary banner
                &lt;/div&gt;
            </code>
        </pre>
    </div>

    <!-- warning  -->
    <div class="column col-12">
        <div class="toast toast-warning">
            <i class="fas fa-exclamation-triangle"></i>
            <button class="btn btn-clear float-right">
                <img src="assets/images/svg/clear-icon.svg"/>
            </button>
            Warning banner
        </div>
    </div>

    <!-- documented code -->
    <div class="column col-12">
        <pre>
            <code>
                &lt;div class="toast toast-warning"&gt;
                    &lt;!-- use below button for clear cross icon --&gt;
                    &lt;i class="fas fa-exclamation-triangle"&gt;&lt;/i&gt;
                    &lt;button class="btn btn-clear float-right"&gt;
                        &lt;img src="assets/images/svg/clear-icon.svg"/&gt;
                    &lt;/button&gt;
                    Primary banner
                &lt;/div&gt;
            </code>
        </pre>
    </div>

    <!-- error  -->
    <div class="column col-12">
        <div class="toast toast-error">
            <i class="fas fa-exclamation-triangle"></i>
            <button class="btn btn-clear float-right">
                <img src="assets/images/svg/clear-icon.svg"/>
            </button>
            Error banner
        </div>
    </div>

    <div class="column col-12">
            <pre>
                <code>
                    &lt;div class="toast toast-error"&gt;
                        &lt;!-- use below button for clear cross icon --&gt;
                        &lt;i class="fas fa-exclamation-triangle"&gt;&lt;/i&gt;
                        &lt;button class="btn btn-clear float-right"&gt;
                            &lt;img src="assets/images/svg/clear-icon.svg"/&gt;
                        &lt;/button&gt;
                        Primary banner
                    &lt;/div&gt;
                </code>
            </pre>
        </div>
</div>




