
<dashboard-page>
    <div class="page-head">
    </div>
    <div class="page-content container">
        <div class="columns">
            <div class="column col-12">
                <dashboard-widget class="shadow">
                    <div class="widget-head">
                    </div>
                    <div class="widget-content" style="height: 250px;width: 500px">
                        <dashboard-general-group-details [title]="'General Details'"
                        [colors]="colors" [detailsType]="DetailsType" [crosstabDefination]="crosstabDef"></dashboard-general-group-details>
                    </div>
                </dashboard-widget>
            </div>

        </div>

    </div>
</dashboard-page>