<div class="component-title">
    <h2>Select</h2>
</div>

<div class="columns">
    <div class="column col-2">
        <div class="form-group">
            <select class="form-select sm">
                <option>Choose an option</option>
                <option>Slack</option>
                <option>Skype</option>
                <option>Hipchat</option>
            </select>
        </div>
    </div>
</div>


<!-- documented code -->
<pre>
    <code>
        &lt;div class="form-group"&gt;
            &lt;select class="form-select sm"&gt;
                &lt;option&gt;Choose an option&lt;/option&gt;
                &lt;option&gt;Slack&lt;/option&gt;
                &lt;option&gt;Skype&lt;/option&gt;
                &lt;option&gt;Hipchat&lt;/option&gt;
            &lt;/select&gt;
        &lt;/div&gt;
    </code>
</pre>

<div class="columns">
    <div class="column col-2">
        <div class="form-group is-error">
            <select class="form-select sm">
                <option>Choose an option</option>
                <option>Slack</option>
                <option>Skype</option>
                <option>Hipchat</option>
            </select>
            <span class="form-input-hint">
                Required Field
            </span>
        </div>
    </div>
</div>


<!-- documented code -->
<pre>
    <code>
        &lt;div class="form-group is-error"&gt;
            &lt;select class="form-select sm"&gt;
                &lt;option&gt;Choose an option&lt;/option&gt;
                &lt;option&gt;Slack&lt;/option&gt;
                &lt;option&gt;Skype&lt;/option&gt;
                &lt;option&gt;Hipchat&lt;/option&gt;
            &lt;/select&gt;
            &lt;span class="form-input-hint"&gt;
                Required Field
            &lt;/span&gt;
        &lt;/div&gt;
    </code>
</pre>
