<div class="default-table full-height">
  <table class="table table-hover table-scroll table-filter">
    <thead>
      <tr>
        <th>Class Name</th>
        <th>Weight</th>
        <th>Size</th>
        <th>Line Height</th>
      </tr>
    </thead>
    <tbody>
      <tr class="display-1">
        <td>display-1</td>
        <td>Regular</td>
        <td>48</td>
        <td>{{ 48 * 1.42857143 }}</td>
      </tr>
      <tr class="display-1 w500">
        <td>display-1</td>
        <td>Medium</td>
        <td>48</td>
        <td>{{ 48 * 1.42857143 }}</td>
      </tr>

      <tr class="display-2">
        <td>display-2</td>
        <td>Regular</td>
        <td>34</td>
        <td>{{ 34 * 1.42857143 }}</td>
      </tr>
      <tr class="display-2 w500">
        <td>display-2</td>
        <td>Medium</td>
        <td>34</td>
        <td>{{ 34 * 1.42857143 }}</td>
      </tr>

      <tr class="display-3">
        <td>display-3</td>
        <td>Regular</td>
        <td>24</td>
        <td>{{ 24 * 1.42857143 }}</td>
      </tr>
      <tr class="display-3 w500">
        <td>display-3</td>
        <td>Medium</td>
        <td>24</td>
        <td>{{ 24 * 1.42857143 }}</td>
      </tr>
      <tr class="display-3 w700">
        <td>display-3</td>
        <td>Bold</td>
        <td>24</td>
        <td>{{ 24 * 1.42857143 }}</td>
      </tr>

      <tr class="display-4">
        <td>display-4</td>
        <td>Regular</td>
        <td>20</td>
        <td>{{ 20 * 1.42857143 }}</td>
      </tr>
      <tr class="display-4 w500">
        <td>display-4</td>
        <td>Medium</td>
        <td>20</td>
        <td>{{ 20 * 1.42857143 }}</td>
      </tr>
      <tr class="display-4 w700">
        <td>display-4</td>
        <td>Bold</td>
        <td>20</td>
        <td>{{ 20 * 1.42857143 }}</td>
      </tr>

      <tr class="title">
        <td>title</td>
        <td>Regular</td>
        <td>18</td>
        <td>{{ 18 * 1.42857143 }}</td>
      </tr>
      <tr class="title w500">
        <td>title</td>
        <td>Medium</td>
        <td>18</td>
        <td>{{ 18 * 1.42857143 }}</td>
      </tr>
      <tr class="title w700">
        <td>title</td>
        <td>Bold</td>
        <td>18</td>
        <td>{{ 18 * 1.42857143 }}</td>
      </tr>

      <tr class="sub-title">
        <td>sub-title</td>
        <td>Regular</td>
        <td>16</td>
        <td>{{ 16 * 1.42857143 }}</td>
      </tr>
      <tr class="sub-title w500">
        <td>sub-title</td>
        <td>Medium</td>
        <td>16</td>
        <td>{{ 16 * 1.42857143 }}</td>
      </tr>
      <tr class="sub-title w700">
        <td>sub-title</td>
        <td>Bold</td>
        <td>16</td>
        <td>{{ 16 * 1.42857143 }}</td>
      </tr>

      <tr class="body">
        <td>body</td>
        <td>Regular</td>
        <td>14</td>
        <td>{{ 14 * 1.42857143 }}</td>
      </tr>
      <tr class="body w500">
        <td>body</td>
        <td>Medium</td>
        <td>14</td>
        <td>{{ 14 * 1.42857143 }}</td>
      </tr>
      <tr class="body w700">
        <td>body</td>
        <td>Bold</td>
        <td>14</td>
        <td>{{ 14 * 1.42857143 }}</td>
      </tr>

      <tr class="caption">
        <td>caption</td>
        <td>Regular</td>
        <td>12</td>
        <td>{{ 12 * 1.42857143 }}</td>
      </tr>
      <tr class="caption w500">
        <td>caption</td>
        <td>Medium</td>
        <td>12</td>
        <td>{{ 12 * 1.42857143 }}</td>
      </tr>
      <tr class="caption w700">
        <td>caption</td>
        <td>Bold</td>
        <td>12</td>
        <td>{{ 12 * 1.42857143 }}</td>
      </tr>

      <tr class="small">
        <td>small</td>
        <td>Regular</td>
        <td>10</td>
        <td>{{ 10 * 1.42857143 }}</td>
      </tr>
      <tr class="small w500">
        <td>small</td>
        <td>Medium</td>
        <td>10</td>
        <td>{{ 10 * 1.42857143 }}</td>
      </tr>
      <tr class="small w700">
        <td>small</td>
        <td>Bold</td>
        <td>10</td>
        <td>{{ 10 * 1.42857143 }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- documented code -->
<pre>
  <code>
    &lt;!-- font-weight: normal, font-size:48px --&gt;
    &lt;div class="display-1"&gt; display1 &lt;/div&gt;

    &lt;!-- font-weight: medium, font-size:48px --&gt;
    &lt;div class="display-1 w500"&gt; display1 &lt;/div&gt;

    &lt;!-- font-weight: normal, font-size:34px --&gt;
    &lt;div class="display-2"&gt; display2 &lt;/div&gt;

    &lt;!-- font-weight: medium, font-size:34px --&gt;
    &lt;div class="display-2 w500"&gt; display2 &lt;/div&gt;

    &lt;!-- font-weight: normal, font-size:24px --&gt;
    &lt;div class="display-3"&gt; display3 &lt;/div&gt;

    &lt;!-- font-weight: medium, font-size:24px --&gt;
    &lt;div class="display-3 w500"&gt; display3 &lt;/div&gt;

    &lt;!-- font-weight: bold, font-size:24px --&gt;
    &lt;div class="display-3 w700"&gt; display3 &lt;/div&gt;

    &lt;!-- font-weight: normal, font-size:20px --&gt;
    &lt;div class="display-4"&gt; display4 &lt;/div&gt;

    &lt;!-- font-weight: medium, font-size:20px --&gt;
    &lt;div class="display-4 w500"&gt; display4 &lt;/div&gt;

    &lt;!-- font-weight: bold, font-size:20px --&gt;
    &lt;div class="display-4 w700"&gt; display4 &lt;/div&gt;

    &lt;!-- font-weight: normal, font-size:18px --&gt;
    &lt;div class="title"&gt; title &lt;/div&gt;

    &lt;!-- font-weight: medium, font-size:18px --&gt;
    &lt;div class="title w500"&gt; title &lt;/div&gt;

    &lt;!-- font-weight: bold, font-size:18px --&gt;
    &lt;div class="title w700"&gt; title &lt;/div&gt;

    &lt;!-- font-weight: normal, font-size:16px --&gt;
    &lt;div class="sub-title"&gt; sub-title &lt;/div&gt;

    &lt;!-- font-weight: medium, font-size:16px --&gt;
    &lt;div class="sub-title w500"&gt; sub-title &lt;/div&gt;

    &lt;!-- font-weight: bold, font-size:16px --&gt;
    &lt;div class="sub-title w700"&gt; sub-title &lt;/div&gt;

    &lt;!-- font-weight: normal, font-size:14 --&gt;
    &lt;div class="body"&gt; body &lt;/div&gt;

    &lt;!-- font-weight: medium, font-size:14 --&gt;
    &lt;div class="body w500"&gt; body &lt;/div&gt;

    &lt;!-- font-weight: bold, font-size:14 --&gt;
    &lt;div class="body w700"&gt; body &lt;/div&gt;

    &lt;!-- font-weight: normal, font-size:12 --&gt;
    &lt;div class="caption"&gt; caption &lt;/div&gt;

    &lt;!-- font-weight: medium, font-size:12 --&gt;
    &lt;div class="caption w500"&gt; caption &lt;/div&gt;

    &lt;!-- font-weight: bold, font-size:12 --&gt;
    &lt;div class="caption w700"&gt; caption &lt;/div&gt;

    &lt;!-- font-weight: normal, font-size:10 --&gt;
    &lt;div class="small"&gt; small &lt;/div&gt;

    &lt;!-- font-weight: medium, font-size:10 --&gt;
    &lt;div class="small w500"&gt; small &lt;/div&gt;

    &lt;!-- font-weight: bold, font-size:10 --&gt;
    &lt;div class="small w700"&gt; small &lt;/div&gt;
  </code>
</pre>
