<div class="component-title">
    <h2>Cards</h2>
</div>

<div class="container">
    <!-- template cards -->
    <div>Template Cards</div>
    <div class="columns">
        <div class="column col-3 col-md-6 col-xs-12 col-sm-12 col-lg-4 col-xl-4">
            <div class="card vz-cardtemplate">
                <div class="card-body" style="background-color: #C0B6F2;"></div>
                <div class="card-footer">
                    Customer Satisfaction Survey Template
                </div>
            </div>
        </div>
    </div>

    <!-- documantation code -->
    <pre>
        <code>
            &lt;div class="card vz-cardtemplate"&gt;
                &lt;div class="card-body" style="background-color: #C0B6F2;"&gt;&lt;/div&gt;
                &lt;div class="card-footer"&gt;
                    Customer Satisfaction Survey Template
                &lt;/div&gt;
            &lt;/div&gt;
        </code>
    </pre>

    <!-- Project Cards -->
    <div>Project Cards</div>
    <div class="columns">
        <div class="column col-3 col-md-6 col-xs-12 col-sm-12 col-lg-4 col-xl-4">
            <div class="card">
                <span class="dropdown card-action dropdown-right">
                        <a href="#0" class="dropdown-toggle" tabindex="0">
                            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="18" height="4" viewBox="0 0 18 4">
                                <g id="Group_3272" data-name="Group 3272" transform="translate(-468 -295)" opacity="0.545">
                                    <rect id="Rectangle_53" data-name="Rectangle 53" width="4" height="4" rx="2" transform="translate(468 295)" fill="#2e384d"/>
                                    <rect id="Rectangle_53-2" data-name="Rectangle 53" width="4" height="4" rx="2" transform="translate(475 295)" fill="#2e384d"/>
                                    <rect id="Rectangle_53-3" data-name="Rectangle 53" width="4" height="4" rx="2" transform="translate(482 295)" fill="#2e384d"/>
                                </g>
                            </svg>         -->
                            <img src="assets/images/svg/more_vert.svg"/>
                        </a>
                        <ul class="menu">
                            <li><a href="javascript:void(0)">Delete</a></li>
                            <li><a href="javascript:void(0)">Edit</a></li>
                        </ul>
                </span>
                <div class="card-body" style="background-color: #B3F5FF;">
                    <span class="cards-initials" style="background-color: #008DA6;">P</span>
                    <div class="project-name">
                        <span>Projects Name</span>
                        <span>Project type name</span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="project-cardfooter">
                        <div>249 Respones</div>
                        <div class="card-link">
                            <div class="link-icon">
                                    <div class="placeholders"></div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.a{fill:none;}.b{fill:#42526e;}</style></defs>
                                    <path class="a" d="M0,0H24V24H0Z"/>
                                    <path class="b" d="M7,15h7v2H7Zm0-4H17v2H7ZM7,7H17V9H7ZM19,3H14.82A2.988,2.988,0,0,0,9.18,3H5a1.752,1.752,0,0,0-.4.04A2.021,2.021,0,0,0,3.16,4.23,1.926,1.926,0,0,0,3,5V19a2.052,2.052,0,0,0,.16.78,2.119,2.119,0,0,0,.43.64,2.008,2.008,0,0,0,1.01.55A2.6,2.6,0,0,0,5,21H19a2.006,2.006,0,0,0,2-2V5A2.006,2.006,0,0,0,19,3Zm-7-.25a.75.75,0,1,1-.75.75A.755.755,0,0,1,12,2.75ZM19,19H5V5H19Z"/></svg>
                            </div>
                            <div class="link-icon">
                                    <div class="placeholders"></div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.a{fill:none;}.b{fill:#42526e;}</style></defs><path class="a" d="M0,0H24V24H0Z"/><path class="b" d="M18,16.08a2.912,2.912,0,0,0-1.96.77L8.91,12.7A3.274,3.274,0,0,0,9,12a3.274,3.274,0,0,0-.09-.7l7.05-4.11A2.993,2.993,0,1,0,15,5a3.274,3.274,0,0,0,.09.7L8.04,9.81a3,3,0,1,0,0,4.38l7.12,4.16a2.821,2.821,0,0,0-.08.65A2.92,2.92,0,1,0,18,16.08Z"/></svg>
                            </div>
                            <div class="link-icon">
                                    <div class="placeholders"></div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.a{fill:none;}.b{fill:#42526e;}</style></defs><path class="a" d="M0,0H24V24H0Z"/><path class="b" d="M22.43,10.59,13.42,1.58a2.051,2.051,0,0,0-2.83,0l-9,9a1.992,1.992,0,0,0,0,2.82l9,9a2,2,0,0,0,2.82,0l8.99-8.99A1.992,1.992,0,0,0,22.43,10.59ZM12.01,20.99l-9-9,9-9,9,9ZM8,11v4h2V12h4v2.5L17.5,11,14,7.5V10H9A1,1,0,0,0,8,11Z"/></svg>
                            </div>
                            <div class="link-icon">
                                    <div class="placeholders"></div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.a{fill:none;}.b{fill:#42526e;}</style></defs><path class="a" d="M0,0H24V24H0Z"/><path class="b" d="M19,3H5A2.006,2.006,0,0,0,3,5V19a2.006,2.006,0,0,0,2,2H19a2.006,2.006,0,0,0,2-2V5A2.006,2.006,0,0,0,19,3Zm0,16H5V5H19ZM7,10H9v7H7Zm4-3h2V17H11Zm4,6h2v4H15Z"/></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- documantation code -->
    <pre>
            <code>
                    &lt;div class="columns"&gt;
                    &lt;div class="column col-3 col-md-6 col-xs-12 col-sm-12 col-lg-4 col-xl-4"&gt;
                        &lt;div class="card"&gt;
                            &lt;span class="dropdown card-action dropdown-right"&gt;
                                    &lt;a href="#0" class="dropdown-toggle" tabindex="0"&gt;
                                    &lt;img src="assets/images/svg/more_vert.svg"/&gt;     
                                    &lt;/a&gt;
                                    &lt;ul class="menu"&gt;
                                        &lt;li&gt;&lt;a href="javascript:void(0)"&gt;Delete&lt;/a&gt;&lt;/li&gt;
                                        &lt;li&gt;&lt;a href="javascript:void(0)"&gt;Edit&lt;/a&gt;&lt;/li&gt;
                                    &lt;/ul&gt;
                            &lt;/span&gt;
                            &lt;div class="card-body" style="background-color: #B3F5FF;"&gt;
                                &lt;span class="cards-initials" style="background-color: #008DA6;"&gt;P&lt;/span&gt;
                                &lt;div class="project-name"&gt;
                                    &lt;span&gt;Projects Name&lt;/span&gt;
                                    &lt;span&gt;Project type name&lt;/span&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class="card-footer"&gt;
                                &lt;div class="project-cardfooter"&gt;
                                    &lt;div&gt;249 Respones&lt;/div&gt;
                                    &lt;div class="card-link"&gt;
                                        &lt;div class="link-icon"&gt;
                                                &lt;div class="placeholders"&gt;&lt;/div&gt;
                                                &lt;svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"&gt;&lt;defs&gt;&lt;style&gt;.a&#123;fill:none;&#125;.b&#123;fill:#42526e;&#125;&lt;/style&gt;&lt;/defs&gt;
                                                &lt;path class="a" d="M0,0H24V24H0Z"/&gt;
                                                &lt;path class="b" d="M7,15h7v2H7Zm0-4H17v2H7ZM7,7H17V9H7ZM19,3H14.82A2.988,2.988,0,0,0,9.18,3H5a1.752,1.752,0,0,0-.4.04A2.021,2.021,0,0,0,3.16,4.23,1.926,1.926,0,0,0,3,5V19a2.052,2.052,0,0,0,.16.78,2.119,2.119,0,0,0,.43.64,2.008,2.008,0,0,0,1.01.55A2.6,2.6,0,0,0,5,21H19a2.006,2.006,0,0,0,2-2V5A2.006,2.006,0,0,0,19,3Zm-7-.25a.75.75,0,1,1-.75.75A.755.755,0,0,1,12,2.75ZM19,19H5V5H19Z"/&gt;&lt;/svg&gt;
                                        &lt;/div&gt;
                                        &lt;div class="link-icon"&gt;
                                                &lt;div class="placeholders"&gt;&lt;/div&gt;
                                                &lt;svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"&gt;&lt;defs&gt;&lt;style&gt;.a&#123;fill:none;&#125;.b&#123;fill:#42526e;&#125;&lt;/style&gt;&lt;/defs&gt;&lt;path class="a" d="M0,0H24V24H0Z"/&gt;&lt;path class="b" d="M18,16.08a2.912,2.912,0,0,0-1.96.77L8.91,12.7A3.274,3.274,0,0,0,9,12a3.274,3.274,0,0,0-.09-.7l7.05-4.11A2.993,2.993,0,1,0,15,5a3.274,3.274,0,0,0,.09.7L8.04,9.81a3,3,0,1,0,0,4.38l7.12,4.16a2.821,2.821,0,0,0-.08.65A2.92,2.92,0,1,0,18,16.08Z"/&gt;&lt;/svg&gt;
                                        &lt;/div&gt;
                                        &lt;div class="link-icon"&gt;
                                                &lt;div class="placeholders"&gt;&lt;/div&gt;
                                                &lt;svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"&gt;&lt;defs&gt;&lt;style&gt;.a&#123;fill:none;&#125;.b&#123;fill:#42526e;&#125;&lt;/style&gt;&lt;/defs&gt;&lt;path class="a" d="M0,0H24V24H0Z"/&gt;&lt;path class="b" d="M22.43,10.59,13.42,1.58a2.051,2.051,0,0,0-2.83,0l-9,9a1.992,1.992,0,0,0,0,2.82l9,9a2,2,0,0,0,2.82,0l8.99-8.99A1.992,1.992,0,0,0,22.43,10.59ZM12.01,20.99l-9-9,9-9,9,9ZM8,11v4h2V12h4v2.5L17.5,11,14,7.5V10H9A1,1,0,0,0,8,11Z"/&gt;&lt;/svg&gt;
                                        &lt;/div&gt;
                                        &lt;div class="link-icon"&gt;
                                                &lt;div class="placeholders"&gt;&lt;/div&gt;
                                                &lt;svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"&gt;&lt;defs&gt;&lt;style&gt;.a&#123;fill:none;&#125;.b&#123;fill:#42526e;&#125;&lt;/style&gt;&lt;/defs&gt;&lt;path class="a" d="M0,0H24V24H0Z"/&gt;&lt;path class="b" d="M19,3H5A2.006,2.006,0,0,0,3,5V19a2.006,2.006,0,0,0,2,2H19a2.006,2.006,0,0,0,2-2V5A2.006,2.006,0,0,0,19,3Zm0,16H5V5H19ZM7,10H9v7H7Zm4-3h2V17H11Zm4,6h2v4H15Z"/&gt;&lt;/svg&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            </code>
        </pre>

    <!-- Folder Cards -->
    <div>Folder Cards</div>
    <div class="columns">
        <div class="column col-3 col-md-6 col-xs-12 col-sm-12 col-lg-4 col-xl-4">
            <div class="card folder-cards">
                <div class="card-body">
                    <span>
                        <img src="assets/images/svg/outline-folder.svg"/>
                    </span>
                    <span class="folder-title">Folder name</span>
                </div>
            </div>
        </div>
    </div>

    <!-- documantation code -->
    <pre>
        <code>
                &lt;div class="columns"&gt;
                &lt;div class="column col-3 col-md-6 col-xs-12 col-sm-12 col-lg-4 col-xl-4"&gt;
                    &lt;div class="card folder-cards"&gt;
                        &lt;div class="card-body"&gt;
                            &lt;span&gt;
                                &lt;img src="assets/images/svg/outline-folder.svg"/&gt;
                            &lt;/span&gt;
                            &lt;span class="folder-title"&gt;Folder name&lt;/span&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        </code>
    </pre>
</div>



    
