<div class="component-title">
    <h2>Text field</h2>
</div>

<!-- small type input use sm class for small input  -->
<div class="columns">

    <!-- form input control -->
    <!-- use sm class for small input and input-icon class for icon input type -->
    <div class="column col-3 col-xs-12">
        <div class="form-group sm">
            <label class="form-label" for="input-example-1">Field label</label>
            <span class="input-icon">
                <input class="form-input" type="text" placeholder="Search…">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17.664" height="17.797" viewBox="0 0 17.664 17.797">
                    <defs>
                      <clipPath id="clip-path">
                        <path id="Combined_Shape" data-name="Combined Shape" d="M16.663,17.8a.989.989,0,0,1-.713-.3l-3.937-4.006a7.506,7.506,0,1,1,1.422-1.406l3.942,4.01a1,1,0,0,1-.714,1.7ZM7.5,2A5.5,5.5,0,1,0,13,7.5,5.506,5.506,0,0,0,7.5,2Z" transform="translate(3 3)" fill="#0052cc"/>
                      </clipPath>
                      <clipPath id="clip-path-2">
                        <rect width="24" height="24" fill="none"/>
                      </clipPath>
                    </defs>
                    <g id="Group_8" data-name="Group 8" transform="translate(-3 -3)" clip-path="url(#clip-path)">
                      <g id="_Color" data-name="â†³ ðŸŽ¨Color" clip-path="url(#clip-path-2)">
                        <path id="N500" d="M0,24H24V0H0Z" fill="#0052cc"/>
                      </g>
                    </g>
                </svg>                  
            </span>
        </div>
    </div>

    <!-- use is-warning and is-error class for warning and error input-->
    <div class="column col-3 col-xs-12">
        <div class="form-group sm">
            <label class="form-label" for="input-example-1">Field label</label>
            <input class="form-input is-warning" type="text" placeholder="Warning field">
            <span class="form-input-hint">
                <i class="fas fa-exclamation-triangle"></i>
                Warning messages text goes here
            </span>
        </div>
    </div>

    <!-- disable input-->
    <div class="column col-3 col-xs-12">
        <div class="form-group sm noborder">
            <label class="form-label" for="input-example-1">Field label</label>
            <input class="form-input" type="text" placeholder="Text field">
        </div>
    </div>
</div>


<!-- documented code -->
<pre>
    <code>
    &lt;!-- form input control --&gt;
    &lt;!-- use sm class for small input and input-icon class for icon input type --&gt;
    &lt;div class="column col-3 col-xs-12"&gt;
        &lt;div class="form-group sm"&gt;
            &lt;label class="form-label" for="input-example-1"&gt;Field label&lt;/label&gt;
            &lt;span class="input-icon"&gt;
                &lt;input class="form-input" type="text" placeholder="Search…"&gt;
                &lt;svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17.664" height="17.797" viewBox="0 0 17.664 17.797"&gt;
                    &lt;defs&gt;
                      &lt;clipPath id="clip-path"&gt;
                        &lt;path id="Combined_Shape" data-name="Combined Shape" d="M16.663,17.8a.989.989,0,0,1-.713-.3l-3.937-4.006a7.506,7.506,0,1,1,1.422-1.406l3.942,4.01a1,1,0,0,1-.714,1.7ZM7.5,2A5.5,5.5,0,1,0,13,7.5,5.506,5.506,0,0,0,7.5,2Z" transform="translate(3 3)" fill="#0052cc"/&gt;
                      &lt;/clipPath&gt;
                      &lt;clipPath id="clip-path-2"&gt;
                        &lt;rect width="24" height="24" fill="none"/&gt;
                      &lt;/clipPath&gt;
                    &lt;/defs&gt;
                    &lt;g id="Group_8" data-name="Group 8" transform="translate(-3 -3)" clip-path="url(#clip-path)"&gt;
                      &lt;g id="_Color" data-name="â†³ ðŸŽ¨Color" clip-path="url(#clip-path-2)"&gt;
                        &lt;path id="N500" d="M0,24H24V0H0Z" fill="#0052cc"/&gt;
                      &lt;/g&gt;
                    &lt;/g&gt;
                &lt;/svg&gt;                  
            &lt;/span&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;!-- use is-warning and is-error class for warning and error input--&gt;
    &lt;div class="column col-3 col-xs-12"&gt;
        &lt;div class="form-group sm"&gt;
            &lt;label class="form-label" for="input-example-1"&gt;Field label&lt;/label&gt;
            &lt;input class="form-input is-warning" type="text" placeholder="Warning field"&gt;
            &lt;span class="form-input-hint"&gt;
                &lt;i class="fas fa-exclamation-triangle"&gt;&lt;/i&gt;
                Warning messages text goes here
            &lt;/span&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;!-- disable input--&gt;
    &lt;div class="column col-3 col-xs-12"&gt;
        &lt;div class="form-group sm noborder"&gt;
            &lt;label class="form-label" for="input-example-1"&gt;Field label&lt;/label&gt;
            &lt;input class="form-input" type="text" placeholder="Text field"&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    </code>
</pre>

<!-- default input -->
<div class="columns">
    <div class="column col-3 col-xs-12">
        <div class="form-group">
            <label class="form-label" for="input-example-1">Field label</label>
            <input class="form-input" type="text" placeholder="Default Input">
        </div>
    </div>

    <div class="column col-3 col-xs-12">
        <div class="form-group">
            <label class="form-label" for="input-example-1">Field label</label>
            <input class="form-input is-warning" type="text" placeholder="Warning field">
            <span class="form-input-hint">
                <i class="fas fa-exclamation-triangle"></i>
                Warning messages text goes here
            </span>
        </div>
    </div>

    <div class="column col-3 col-xs-12">
        <div class="form-group">
            <label class="form-label" for="input-example-1">Field label</label>
            <input class="form-input disabled" type="text" placeholder="Disable Field">
        </div>
    </div>
</div>

<!-- documented code -->
<pre>
    <code>
        &lt;div class="form-group"&gt;
            &lt;label class="form-label" for="input-example-1"&gt;Field label&lt;/label&gt;
            &lt;input class="form-input" type="text" placeholder="Default Input"&gt;
        &lt;/div&gt;

        &lt;div class="form-group"&gt;
            &lt;label class="form-label" for="input-example-1"&gt;Field label&lt;/label&gt;
            &lt;input class="form-input is-warning" type="text" placeholder="Warning field"&gt;
            &lt;span class="form-input-hint"&gt;
                &lt;i class="fas fa-exclamation-triangle"&gt;&lt;/i&gt;
                Warning messages text goes here
            &lt;/span&gt;
        &lt;/div&gt;

        &lt;div class="form-group"&gt;
            &lt;label class="form-label" for="input-example-1"&gt;Field label&lt;/label&gt;
            &lt;input class="form-input disabled" type="text" placeholder="Disable Field"&gt;
        &lt;/div&gt;

    </code>
</pre>

<!-- textarea fields-->
<div class="columns">
    <div class="column col-3 col-xs-12">
        <div class="form-group">
            <label class="form-label" for="input-example-3">Description</label>
            <textarea class="form-input" id="input-example-3" placeholder="Text field" rows="4" cols="50"></textarea>
        </div>
    </div>

    <div class="column col-3 col-xs-12">
        <div class="form-group">
            <label class="form-label" for="input-example-3">Description</label>
            <textarea class="form-input" id="input-example-3" placeholder="Text field" rows="4" cols="50"></textarea>
        </div>
    </div>
</div>



<!-- documented code -->
<pre>
    <code>
        &lt;div class="form-group"&gt;
            &lt;label class="form-label" for="input-example-3"&gt;Description&lt;/label&gt;
            &lt;textarea class="form-input" id="input-example-3" placeholder="Text field" rows="4" cols="50"&gt;&lt;/textarea&gt;
        &lt;/div&gt;

        &lt;div class="form-group"&gt;
            &lt;label class="form-label" for="input-example-3"&gt;Description&lt;/label&gt;
            &lt;textarea class="form-input" id="input-example-3" placeholder="Text field" rows="4" cols="50"&gt;&lt;/textarea&gt;
        &lt;/div&gt;
    </code>
</pre>