<div class="component-title">
    <h2>Color Palettes</h2>
</div>

<div class="container">
    <div class="columns">
        <div class="column col-6 col-md-6 col-xs-12 col-sm-12 col-lg-6 col-xl-6">
            <div class="default-table" style="max-height: 100%;">
                    <table class="table table-hover table-scroll table-filter table-noborder">
                        <thead>
                            <tr>
                                <th>
                                    Color
                                </th>
                                <th>
                                    Hexa Value
                                </th>
                                <th>
                                    RGBA Value
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #DEEBFF;height: 42px;width: 42px;"></span></td>
                                <td>#DEEBFF</td>
                                <td>rgba(222, 235, 255, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #B3D4FF;height: 42px;width: 42px;"></span></td>
                                <td>#B3D4FF</td>
                                <td>rgba(179, 212, 255, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #4C9AFF;height: 42px;width: 42px;"></span></td>
                                <td>#4C9AFF</td>
                                <td>rgba(76, 154, 255, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #2684FF;height: 42px;width: 42px;"></span></td>
                                <td>#2684FF</td>
                                <td>rgba(38, 132, 255, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #0065FF;height: 42px;width: 42px;"></span></td>
                                <td>#0065FF</td>
                                <td>rgba(0, 101, 255, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #0052CC;height: 42px;width: 42px;"></span></td>
                                <td>#0052CC</td>
                                <td>rgba(0, 82, 204, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #02193B;height: 42px;width: 42px;"></span></td>
                                <td>#02193B</td>
                                <td>rgba(2, 25, 59, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #E2FFEE;height: 42px;width: 42px;"></span></td>
                                <td>#E2FFEE</td>
                                <td>rgba(226, 255, 238, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #ABF5D1;height: 42px;width: 42px;"></span></td>
                                <td>#ABF5D1</td>
                                <td>rgba(171, 245, 209, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #79F2C0;height: 42px;width: 42px;"></span></td>
                                <td>#79F2C0</td>
                                <td>rgba(121, 242, 192, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #57D9A3;height: 42px;width: 42px;"></span></td>
                                <td>#57D9A3</td>
                                <td>rgba(87, 217, 163, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #36B37E;height: 42px;width: 42px;"></span></td>
                                <td>#36B37E</td>
                                <td>rgba(54, 179, 126, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #00875A;height: 42px;width: 42px;"></span></td>
                                <td>#00875A</td>
                                <td>rgba(0, 135, 90, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #006644;height: 42px;width: 42px;"></span></td>
                                <td>#006644</td>
                                <td>rgba(0, 102, 68, 1)</td>
                            </tr>

                            <tr>
                                <td><span class="vz-ProjectName" style="background: #FFFFFF;height: 42px;width: 42px;"></span></td>
                                <td>#FFFFFF</td>
                                <td>rgba(255, 255, 255, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #FAFBFC;height: 42px;width: 42px;"></span></td>
                                <td>#FAFBFC</td>
                                <td>rgba(250, 251, 252, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #F4F5F7;height: 42px;width: 42px;"></span></td>
                                <td>#F4F5F7</td>
                                <td>rgba(244, 245, 247, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #EBECF0;height: 42px;width: 42px;"></span></td>
                                <td>#EBECF0</td>
                                <td>rgba(235, 236, 240, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #DFE1E6;height: 42px;width: 42px;"></span></td>
                                <td>#DFE1E6</td>
                                <td>rgba(223, 225, 230, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #C1C7D0;height: 42px;width: 42px;"></span></td>
                                <td>#C1C7D0</td>
                                <td>rgba(193, 199, 208, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #B3BAC5;height: 42px;width: 42px;"></span></td>
                                <td>#B3BAC5</td>
                                <td>rgba(179, 186, 197, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #B3BAC5;height: 42px;width: 42px;"></span></td>
                                <td>#B3BAC5</td>
                                <td>rgba(179, 186, 197, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #A5ADBA;height: 42px;width: 42px;"></span></td>
                                <td>#A5ADBA</td>
                                <td>rgba(165, 173, 186, 1)</td>
                            </tr>

                            <tr>
                                <td><span class="vz-ProjectName" style="background: #97A0AF;height: 42px;width: 42px;"></span></td>
                                <td>#97A0AF</td>
                                <td>rgba(151, 160, 175, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #8993A4;height: 42px;width: 42px;"></span></td>
                                <td>#8993A4</td>
                                <td>rgba(137, 147, 164, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #7A869A;height: 42px;width: 42px;"></span></td>
                                <td>#7A869A</td>
                                <td>rgba(122, 134, 154, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #6B778C;height: 42px;width: 42px;"></span></td>
                                <td>#6B778C</td>
                                <td>rgba(107, 119, 140, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #5E6C84;height: 42px;width: 42px;"></span></td>
                                <td>#5E6C84</td>
                                <td>rgba(94, 108, 132, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #505F79;height: 42px;width: 42px;"></span></td>
                                <td>#505F79</td>
                                <td>rgba(80, 95, 121, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #42526E;height: 42px;width: 42px;"></span></td>
                                <td>#42526E</td>
                                <td>rgba(66, 82, 110, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #344563;height: 42px;width: 42px;"></span></td>
                                <td>#344563</td>
                                <td>rgba(52, 69, 99, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #253858;height: 42px;width: 42px;"></span></td>
                                <td>#253858</td>
                                <td>rgba(37, 56, 88, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #172B4D;height: 42px;width: 42px;"></span></td>
                                <td>#172B4D</td>
                                <td>rgba(23, 43, 77, 1)</td>
                            </tr>
                            <tr>
                                <td><span class="vz-ProjectName" style="background: #091E42;height: 42px;width: 42px;"></span></td>
                                <td>#091E42</td>
                                <td>rgba(9, 30, 66, 1)</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>

    
        <div class="column col-6 col-md-6 col-xs-12 col-sm-12 col-lg-6 col-xl-6">
            <div class="default-table" style="max-height: 100%;">
                <table class="table table-hover table-scroll table-filter table-noborder">
                    <thead>
                        <tr>
                            <th>
                                Color
                            </th>
                            <th>
                                Hexa Value
                            </th>
                            <th>
                                RGBA Value
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="vz-ProjectName" style="background: #EAE6FF;height: 42px;width: 42px;"></span></td>
                            <td>#EAE6FF</td>
                            <td>rgba(234, 230, 255, 1)</td>
                        </tr>
                        <tr>
                            <td><span class="vz-ProjectName" style="background: #C0B6F2;height: 42px;width: 42px;"></span></td>
                            <td>#C0B6F2</td>
                            <td>rgba(192, 182, 242, 1)</td>
                        </tr>
                        <tr>
                            <td><span class="vz-ProjectName" style="background: #998DD9;height: 42px;width: 42px;"></span></td>
                            <td>#998DD9</td>
                            <td>rgba(153, 141, 217, 1)</td>
                        </tr>
                        <tr>
                            <td><span class="vz-ProjectName" style="background: #8777D9;height: 42px;width: 42px;"></span></td>
                            <td>#8777D9</td>
                            <td>rgba(135, 119, 217, 1)</td>
                        </tr>
                        <tr>
                            <td><span class="vz-ProjectName" style="background: #6554C0;height: 42px;width: 42px;"></span></td>
                            <td>#6554C0</td>
                            <td>rgba(101, 84, 192, 1)</td>
                        </tr>
                        <tr>
                            <td><span class="vz-ProjectName" style="background: #5243AA;height: 42px;width: 42px;"></span></td>
                            <td>#5243AA</td>
                            <td>rgba(82, 67, 170, 1)</td>
                        </tr>
                        <tr>
                            <td><span class="vz-ProjectName" style="background: #403294;height: 42px;width: 42px;"></span></td>
                            <td>#403294</td>
                            <td>rgba(64, 50, 148, 1)</td>
                        </tr>

                        <tr>
                            <td><span class="vz-ProjectName" style="background: #FFEBE5;height: 42px;width: 42px;"></span></td>
                            <td>#FFEBE5</td>
                            <td>rgba(255, 235, 229, 1)</td>
                        </tr>
                        <tr>
                            <td><span class="vz-ProjectName" style="background: #FFBDAD;height: 42px;width: 42px;"></span></td>
                            <td>#FFBDAD</td>
                            <td>rgba(255, 189, 173, 1)</td>
                        </tr>
                        <tr>
                            <td><span class="vz-ProjectName" style="background: #FF8F73;height: 42px;width: 42px;"></span></td>
                            <td>#FF8F73</td>
                            <td>rgba(255, 143, 115, 1)</td>
                        </tr>
                        <tr>
                            <td><span class="vz-ProjectName" style="background: #FF7452;height: 42px;width: 42px;"></span></td>
                            <td>#FF7452</td>
                            <td>rgba(255, 116, 82, 1)</td>
                        </tr>
                        <tr>
                            <td><span class="vz-ProjectName" style="background: #FF5630;height: 42px;width: 42px;"></span></td>
                            <td>#FF5630</td>
                            <td>rgba(255, 86, 48, 1)</td>
                        </tr>
                        <tr>
                            <td><span class="vz-ProjectName" style="background: #DE350B;height: 42px;width: 42px;"></span></td>
                            <td>#DE350B</td>
                            <td>rgba(222, 53, 11, 1)</td>
                        </tr>
                        <tr>
                            <td><span class="vz-ProjectName" style="background: #BF2600;height: 42px;width: 42px;"></span></td>
                            <td>#BF2600</td>
                            <td>rgba(191, 38, 0, 1)</td>
                        </tr>

                        <tr>
                            <td><span class="vz-ProjectName" style="background: #E6FCFF;height: 42px;width: 42px;"></span></td>
                            <td>#E6FCFF</td>
                            <td>rgba(230, 252, 255, 1)</td>
                        </tr>
                        <tr>
                            <td><span class="vz-ProjectName" style="background: #B3F5FF;height: 42px;width: 42px;"></span></td>
                            <td>#B3F5FF</td>
                            <td>rgba(179, 245, 255, 1)</td>
                        </tr>
                        <tr>
                            <td><span class="vz-ProjectName" style="background: #00C7E6;height: 42px;width: 42px;"></span></td>
                            <td>#00C7E6</td>
                            <td>rgba(0, 199, 230, 1)</td>
                        </tr>
                        <tr>
                            <td><span class="vz-ProjectName" style="background: #00B8D9;height: 42px;width: 42px;"></span></td>
                            <td>#00B8D9</td>
                            <td>rgba(0, 184, 217, 1)</td>
                        </tr>
                        <tr>
                            <td><span class="vz-ProjectName" style="background: #00A3BF;height: 42px;width: 42px;"></span></td>
                            <td>#00A3BF</td>
                            <td>rgba(0, 163, 191, 1)</td>
                        </tr>
                        <tr>
                            <td><span class="vz-ProjectName" style="background: #008DA6;height: 42px;width: 42px;"></span></td>
                            <td>#008DA6</td>
                            <td>rgba(0, 141, 166, 1)</td>
                        </tr>
                        <tr>
                            <td><span class="vz-ProjectName" style="background: #79E2F2;height: 42px;width: 42px;"></span></td>
                            <td>#79E2F2</td>
                            <td>rgba(121, 226, 242, 1)</td>
                        </tr>


                        <tr>
                            <td><span class="vz-ProjectName" style="background: #FFFAE6;height: 42px;width: 42px;"></span></td>
                            <td>#FFFAE6</td>
                            <td>rgba(255, 250, 230, 1)</td>
                        </tr>
                        <tr>
                            <td><span class="vz-ProjectName" style="background: #FFF0B3;height: 42px;width: 42px;"></span></td>
                            <td>#FFF0B3</td>
                            <td>rgba(255, 240, 179, 1)</td>
                        </tr>
                        <tr>
                            <td><span class="vz-ProjectName" style="background: #FFE380;height: 42px;width: 42px;"></span></td>
                            <td>#FFE380</td>
                            <td>rgba(255, 227, 128, 1)</td>
                        </tr>
                        <tr>
                            <td><span class="vz-ProjectName" style="background: #FFC400;height: 42px;width: 42px;"></span></td>
                            <td>#FFC400</td>
                            <td>rgba(255, 196, 0, 1)</td>
                        </tr>
                        <tr>
                            <td><span class="vz-ProjectName" style="background: #FFAB00;height: 42px;width: 42px;"></span></td>
                            <td>#FFAB00</td>
                            <td>rgba(255, 171, 0, 1)</td>
                        </tr>
                        <tr>
                            <td><span class="vz-ProjectName" style="background: #FF991F;height: 42px;width: 42px;"></span></td>
                            <td>#FF991F</td>
                            <td>rgba(255, 153, 31, 1)</td>
                        </tr>
                        <tr>
                            <td><span class="vz-ProjectName" style="background:#FF8B00;height: 42px;width: 42px;"></span></td>
                            <td>#FF8B00</td>
                            <td>rgba(255, 139, 0, 1)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


     </div>
</div>


