<dashboard-page>
  <div class="page-head">
    <h3><strong>Installation Dashboard Framework</strong></h3>
  </div>
  <div class="page-content">
    <div class="container">
      <div class="columns">
        <div class="column col-12">
          <h4><u>Install using npm</u></h4>
          <pre class="code" data-lang="Bash">
          <code>
          npm install dashboard-framework --save
          </code>
        </pre>
        </div>
        <div class="column col-12">
          <h5>Include dashboard framework module</h5>
          <pre class="code" data-lang="Typescript">
          <code>
          {{importFrameworkModule}}
          </code>
        </pre>
        </div>
      </div>
    </div>
  </div>
</dashboard-page>
