<div class="component-title">
    <h2>Switch</h2>
</div>

<div>Small Black Switch</div>
<div class="columns">
    <div class="column">
        <div class="form-group">
            <label class="form-switch sm">
                <input type="checkbox">
                <i class="form-icon"></i> Send me emails with news and tips
            </label>
        </div>
    </div>
</div>


<!-- documented code -->
<pre>
    <code>
        &lt;div class="form-group"&gt;
            &lt;label class="form-switch"&gt;
                &lt;input type="checkbox"&gt;
                &lt;i class="form-icon"&gt;&lt;/i&gt; Send me emails with news and tips
            &lt;/label&gt;
        &lt;/div&gt;
    </code>
</pre>


<!-- large switch -->
<div>Large Green Switch</div>
<div class="columns">
    <div class="column">
        <div class="form-group">
            <label class="form-switch lg">
                <input type="checkbox">
                <i class="form-icon"></i> On
            </label>
        </div>
    </div>
</div>

<!-- documented code -->
<pre>
  <code>
    &lt;div class="columns"&gt;
      &lt;div class="column"&gt;
          &lt;div class="form-group"&gt;
              &lt;label class="form-switch lg"&gt;
                  &lt;input type="checkbox"&gt;
                  &lt;i class="form-icon"&gt;&lt;/i&gt; On
              &lt;/label&gt;
          &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  </code>
</pre>

<div>Static On/Off Switch UI with Switch "ON"</div>
<div class="columns">
  <div class="column">
    <div class="on-off-indicator">
      <div class="on-off-switch">
        <span>OFF</span>
      </div>
      <div class="on-off-switch switch-on">
        <span>ON</span>
      </div>
    </div>
  </div>
</div>

<!-- documented code -->
<pre>
  <code>
    &lt;div class="columns"&gt;
      &lt;div class="column"&gt;
        &lt;div class="on-off-indicator"&gt;
          &lt;div class="on-off-switch"&gt;
            &lt;span&gt;OFF&lt;/span&gt;
          &lt;/div&gt;
          &lt;div class="on-off-switch switch-on"&gt;
            &lt;span&gt;ON&lt;/span&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  </code>
</pre>

<div>Static On/Off Switch UI with Switch "OFF"</div>
<div class="columns">
  <div class="column">
    <div class="on-off-indicator">
      <div class="on-off-switch switch-off">
        <span>OFF</span>
      </div>
      <div class="on-off-switch">
        <span>ON</span>
      </div>
    </div>
  </div>
</div>

<!-- documented code -->
<pre>
  <code>
    &lt;div class="columns"&gt;
      &lt;div class="column"&gt;
        &lt;div class="on-off-indicator"&gt;
          &lt;div class="on-off-switch switch-off"&gt;
            &lt;span&gt;OFF&lt;/span&gt;
          &lt;/div&gt;
          &lt;div class="on-off-switch"&gt;
            &lt;span&gt;ON&lt;/span&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  </code>
</pre>
