<div class="component-title">
    <h2>Buttons</h2>
</div>
<div class="component-heading">Button variations</div>
<div class="column col-12">
    <!-- small button -->
    
    <button class="btn btn-secondary sm">Button variables</button>
    
    <button class="btn btn-primary sm">Button variables</button>

    <button class="btn btn-transparent sm">Button variables</button>

    <!--small buttons end  -->

    <!-- large button -->
    <button class="btn btn-light-blue lg">Button variables</button>

    <button class="btn btn-primary lg">Button variables</button>

    <button class="btn btn-transparent lg">Button variables</button>

    <!-- large buttons end -->
</div>

<!-- documented code -->
<pre>
    <code>
        &lt;!-- use sm class for small button --&gt;
        &lt;button class="btn btn-secondary sm"&gt;Button variables&lt;/button&gt;
            
        &lt;button class="btn btn-primary sm"&gt;Button variables&lt;/button&gt;
        
        &lt;button class="btn btn-transparent sm"&gt;Button variables&lt;/button&gt;
        
        &lt;!-- use lg class for large button --&gt;
        &lt;button class="btn btn-light-blue lg"&gt;Button variables&lt;/button&gt;
        
        &lt;button class="btn btn-primary lg"&gt;Button variables&lt;/button&gt;
        
        &lt;button class="btn btn-transparent lg"&gt;Button variables&lt;/button&gt;
    </code>
</pre>

<!-- pacific blue buttons combinations -->
<div class="column col-12">
    <button class="btn btn-pacific-secondary sm">Button variables</button>

    <button class="btn btn-pacific-transparent sm">Button variables</button>

    <button class="btn btn-pacific-secondary lg">Button variables</button>

    <button class="btn btn-pacific-transparent lg">Button variables</button>
</div>
<!-- pacific blue buttons combinations ends-->

<!-- documented code -->
<pre>
    <code>
        &lt;button class="btn btn-pacific-secondary sm"&gt;Button variables&lt;/button&gt;

        &lt;button class="btn btn-pacific-transparent sm"&gt;Button variables&lt;/button&gt;

        &lt;button class="btn btn-pacific-secondary lg"&gt;Button variables&lt;/button&gt;

        &lt;button class="btn btn-pacific-primary lg"&gt;Button variables&lt;/button&gt;

        &lt;button class="btn btn-pacific-transparent lg"&gt;Button variables&lt;/button&gt;
    </code>
</pre>

<!-- button with dropdown -->
<div class="column col-12">
    <!-- dropdown button sm-->
    <div class="dropdown">
        <a href="javascript:void(0)" class="btn btn-link dropdown-toggle btn-pacific-transparent sm" tabindex="0">
            dropdown menu 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.a{fill:none;}.b{fill:rgba(0,0,0,0.25);}</style></defs><path class="a" d="M0,0H24V24H0Z"/><path class="b" d="M7.41,8.59,12,13.17l4.59-4.58L18,10l-6,6L6,10Z"/></svg>
        </a>
        <!-- menu component -->
        <ul class="menu">
            <li><a href="#">Item A</a></li>
            <li><a href="#">Item B</a></li>
        </ul>
    </div>
    <!-- dropdown button end -->
    <!-- edit button sm -->
    <button class="btn btn-pacific-secondary sm">
            <i class="fas fa-pen"></i>
        Button variables
    </button>
    <!-- edit button end -->
    <!-- dropdown button lg-->
    <div class="dropdown">
        <a href="javascript:void(0)" class="btn btn-link dropdown-toggle btn-pacific-transparent lg" tabindex="0">
            dropdown menu 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.a{fill:none;}.b{fill:rgba(0,0,0,0.25);}</style></defs><path class="a" d="M0,0H24V24H0Z"/><path class="b" d="M7.41,8.59,12,13.17l4.59-4.58L18,10l-6,6L6,10Z"/></svg>
        </a>
        <!-- menu component -->
        <ul class="menu">
            <li><a href="#">Item A</a></li>
            <li><a href="#">Item B</a></li>
        </ul>
    </div>
    <!-- dropdown button end -->
    <!-- edit button lg -->
    <button class="btn btn-pacific-secondary lg">
            <i class="fas fa-pen"></i>
        Button variables
    </button>
    <!-- edit button end -->
</div>


<!-- documented code -->
<pre>
    <code>
            &lt;!-- dropdown button sm--&gt;
            &lt;div class=&quot;dropdown&quot;&gt;
                &lt;a href=&quot;javascript:void(0)&quot; class=&quot;btn btn-link dropdown-toggle btn-pacific-transparent sm&quot; tabindex=&quot;0&quot;&gt;
                    dropdown menu 
                    &lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; width=&quot;24&quot; height=&quot;24&quot; viewBox=&quot;0 0 24 24&quot;&gt;&lt;defs&gt;&lt;style&gt;.a&#123;fill:none;}.b&#123;fill:rgba(0,0,0,0.25);}&lt;/style&gt;&lt;/defs&gt;&lt;path class=&quot;a&quot; d=&quot;M0,0H24V24H0Z&quot;/&gt;&lt;path class=&quot;b&quot; d=&quot;M7.41,8.59,12,13.17l4.59-4.58L18,10l-6,6L6,10Z&quot;/&gt;&lt;/svg&gt;
                &lt;/a&gt;
                &lt;!-- menu component --&gt;
                &lt;ul class=&quot;menu&quot;&gt;
                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Item A&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Item B&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
            &lt;!-- dropdown button end --&gt;
            &lt;!-- edit button sm --&gt;
            &lt;button class=&quot;btn btn-pacific-secondary sm&quot;&gt;
                    &lt;i class=&quot;fas fa-pen&quot;&gt;&lt;/i&gt;
                Button variables
            &lt;/button&gt;
            &lt;!-- edit button end --&gt;
            &lt;!-- dropdown button lg--&gt;
            &lt;div class=&quot;dropdown&quot;&gt;
                &lt;a href=&quot;javascript:void(0)&quot; class=&quot;btn btn-link dropdown-toggle btn-pacific-transparent lg&quot; tabindex=&quot;0&quot;&gt;
                    dropdown menu 
                    &lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; width=&quot;24&quot; height=&quot;24&quot; viewBox=&quot;0 0 24 24&quot;&gt;&lt;defs&gt;&lt;style&gt;.a&#123;fill:none;}.b&#123;fill:rgba(0,0,0,0.25);}&lt;/style&gt;&lt;/defs&gt;&lt;path class=&quot;a&quot; d=&quot;M0,0H24V24H0Z&quot;/&gt;&lt;path class=&quot;b&quot; d=&quot;M7.41,8.59,12,13.17l4.59-4.58L18,10l-6,6L6,10Z&quot;/&gt;&lt;/svg&gt;
                &lt;/a&gt;
                &lt;!-- menu component --&gt;
                &lt;ul class=&quot;menu&quot;&gt;
                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Item A&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Item B&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
            &lt;!-- dropdown button end --&gt;
            &lt;!-- edit button lg --&gt;
            &lt;button class=&quot;btn btn-pacific-secondary lg&quot;&gt;
                    &lt;i class=&quot;fas fa-pen&quot;&gt;&lt;/i&gt;
                Button variables
            &lt;/button&gt;
            &lt;!-- edit button end --&gt;
    </code>
</pre>

<!-- primary button dropdown and edit buttons -->
<div class="column col-12">
    <!-- dropdown button sm-->
    <div class="dropdown">
        <a href="javascript:void(0)" class="btn btn-link dropdown-toggle btn-transparent sm" tabindex="0">
            dropdown menu 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.a{fill:none;}.b{fill:rgba(0,0,0,0.25);}</style></defs><path class="a" d="M0,0H24V24H0Z"/><path class="b" d="M7.41,8.59,12,13.17l4.59-4.58L18,10l-6,6L6,10Z"/></svg>
        </a>
        <!-- menu component -->
        <ul class="menu">
            <li><a href="#">Item A</a></li>
            <li><a href="#">Item B</a></li>
        </ul>
    </div>
    <!-- dropdown button end -->
    <!-- edit button sm -->
    <button class="btn btn-light-blue sm">
            <i class="fas fa-pen"></i>
        Button variables
    </button>
    <!-- edit button end -->
    <div class="dropdown">
        <a href="javascript:void(0)" class="btn btn-link dropdown-toggle btn-primary sm" tabindex="0">
            dropdown menu 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.a{fill:none;}.b{fill:rgba(0,0,0,0.25);}</style></defs><path class="a" d="M0,0H24V24H0Z"/><path class="b" d="M7.41,8.59,12,13.17l4.59-4.58L18,10l-6,6L6,10Z"/></svg>
        </a>
        <!-- menu component -->
        <ul class="menu">
            <li><a href="#">Item A</a></li>
            <li><a href="#">Item B</a></li>
        </ul>
    </div>
    <!-- dropdown button lg-->
    <div class="dropdown">
            <a href="javascript:void(0)" class="btn btn-link dropdown-toggle btn-transparent lg" tabindex="0">
                dropdown menu 
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.a{fill:none;}.b{fill:rgba(0,0,0,0.25);}</style></defs><path class="a" d="M0,0H24V24H0Z"/><path class="b" d="M7.41,8.59,12,13.17l4.59-4.58L18,10l-6,6L6,10Z"/></svg>
            </a>
            <!-- menu component -->
            <ul class="menu">
                <li><a href="#">Item A</a></li>
                <li><a href="#">Item B</a></li>
            </ul>
    </div>
    <!-- dropdown button end -->
    <!-- edit button lg -->
    <button class="btn btn-light-blue lg">
            <i class="fas fa-pen"></i>
        Button variables
    </button>
    <!-- edit button end -->
</div>


<!-- documented code -->
<pre>
    <code>
            &lt;!-- dropdown button sm--&gt;
            &lt;div class="dropdown"&gt;
                &lt;a href="javascript:void(0)" class="btn btn-link dropdown-toggle btn-transparent sm" tabindex="0"&gt;
                    dropdown menu 
                    &lt;svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"&gt;&lt;defs&gt;&lt;style&gt;.a&#125;fill:none;&#123;.b&#125;fill:rgba(0,0,0,0.25);&#123;&lt;/style&gt;&lt;/defs&gt;&lt;path class="a" d="M0,0H24V24H0Z"/&gt;&lt;path class="b" d="M7.41,8.59,12,13.17l4.59-4.58L18,10l-6,6L6,10Z"/&gt;&lt;/svg&gt;
                &lt;/a&gt;
                &lt;!-- menu component --&gt;
                &lt;ul class="menu"&gt;
                    &lt;li&gt;&lt;a href="#"&gt;Item A&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="#"&gt;Item B&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
            &lt;!-- dropdown button end --&gt;
            &lt;!-- edit button sm --&gt;
            &lt;button class="btn btn-light-blue sm"&gt;
                    &lt;i class="fas fa-pen"&gt;&lt;/i&gt;
                Button variables
            &lt;/button&gt;
            &lt;!-- edit button end --&gt;
            &lt;div class="dropdown"&gt;
                &lt;a href="javascript:void(0)" class="btn btn-link dropdown-toggle btn-primary sm" tabindex="0"&gt;
                    dropdown menu 
                    &lt;svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"&gt;&lt;defs&gt;&lt;style&gt;.a&#125;fill:none;&#123;.b&#125;fill:rgba(0,0,0,0.25);&#123;&lt;/style&gt;&lt;/defs&gt;&lt;path class="a" d="M0,0H24V24H0Z"/&gt;&lt;path class="b" d="M7.41,8.59,12,13.17l4.59-4.58L18,10l-6,6L6,10Z"/&gt;&lt;/svg&gt;
                &lt;/a&gt;
                &lt;!-- menu component --&gt;
                &lt;ul class="menu"&gt;
                    &lt;li&gt;&lt;a href="#"&gt;Item A&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="#"&gt;Item B&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
            &lt;!-- dropdown button lg--&gt;
            &lt;div class="dropdown"&gt;
                    &lt;a href="javascript:void(0)" class="btn btn-link dropdown-toggle btn-transparent lg" tabindex="0"&gt;
                        dropdown menu 
                        &lt;svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"&gt;&lt;defs&gt;&lt;style&gt;.a&#125;fill:none;&#123;.b&#125;fill:rgba(0,0,0,0.25);&#123;&lt;/style&gt;&lt;/defs&gt;&lt;path class="a" d="M0,0H24V24H0Z"/&gt;&lt;path class="b" d="M7.41,8.59,12,13.17l4.59-4.58L18,10l-6,6L6,10Z"/&gt;&lt;/svg&gt;
                    &lt;/a&gt;
                    &lt;!-- menu component --&gt;
                    &lt;ul class="menu"&gt;
                        &lt;li&gt;&lt;a href="#"&gt;Item A&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href="#"&gt;Item B&lt;/a&gt;&lt;/li&gt;
                    &lt;/ul&gt;
            &lt;/div&gt;
            &lt;!-- dropdown button end --&gt;
            &lt;!-- edit button lg --&gt;
            &lt;button class="btn btn-light-blue lg"&gt;
                    &lt;i class="fas fa-pen"&gt;&lt;/i&gt;
                Button variables
            &lt;/button&gt;
            &lt;!-- edit button end --&gt;
    </code>
</pre>

<!-- icon buttons -->

<div class="column col-12">
    <!-- add btn-icon class for icon buttons -->
    <button class="btn btn-pacific-transparent sm btn-icon">
        <i class="fas fa-pen"></i>
    </button>
    <button class="btn btn-pacific-secondary sm btn-icon">
        <i class="fas fa-pen"></i>
    </button>
    <button class="btn btn-pacific-transparent sm btn-icon">
        <i class="fas fa-pen"></i>
    </button>
    <button class="btn btn-primary sm btn-icon">
        <i class="fas fa-pen"></i>
    </button>
    <button class="btn btn-preview sm btn-icon">
        <i class="fas fa-pen"></i>
    </button>
</div>

<!-- icon button documented code -->
<pre>
    <code>
            &lt;!-- add btn-icon class for icon buttons --&gt;
            &lt;button class="btn btn-pacific-transparent sm btn-icon"&gt;
                &lt;i class="fas fa-pen"&gt;&lt;/i&gt;
            &lt;/button&gt;
            &lt;button class="btn btn-pacific-secondary sm btn-icon"&gt;
                &lt;i class="fas fa-pen"&gt;&lt;/i&gt;
            &lt;/button&gt;
            &lt;button class="btn btn-pacific-transparent sm btn-icon"&gt;
                &lt;i class="fas fa-pen"&gt;&lt;/i&gt;
            &lt;/button&gt;
            &lt;button class="btn btn-primary sm btn-icon"&gt;
                &lt;i class="fas fa-pen"&gt;&lt;/i&gt;
            &lt;/button&gt;
    </code>
</pre>


<!-- split buttons -->

<div class="column col-12">
    <!-- split secondary button -->
    <div class="dropdown">
        <div class="btn-group">
            <a href="javascript:void(0);" class="btn btn-pacific-secondary sm">
            Split
            </a>
            <a href="javascript:void(0);" class="btn dropdown-toggle btn-light-blue sm btn-icon" tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.a{fill:none;}.b{fill:rgba(0,0,0,0.25);}</style></defs><path class="a" d="M0,0H24V24H0Z"/><path class="b" d="M7.41,8.59,12,13.17l4.59-4.58L18,10l-6,6L6,10Z"/></svg>
            </a>
        
            <!-- menu component -->
            <ul class="menu">
             <li><a href="javascript:void(0);">Item A</a></li>
             <li><a href="javascript:void(0);">Item B</a></li>
            </ul>
        </div>
    </div>

    <!-- split transparent button -->
    <div class="dropdown">
        <div class="btn-group">
            <a href="javascript:void(0);" class="btn btn-transparent sm">
            Split
            </a>
            <a href="javascript:void(0)" class="btn dropdown-toggle btn-light-blue sm btn-icon" tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.a{fill:none;}.b{fill:rgba(0,0,0,0.25);}</style></defs><path class="a" d="M0,0H24V24H0Z"/><path class="b" d="M7.41,8.59,12,13.17l4.59-4.58L18,10l-6,6L6,10Z"/></svg>
            </a>
        
            <!-- menu component -->
            <ul class="menu">
                <li><a href="javascript:void(0);">Item A</a></li>
                <li><a href="javascript:void(0);">Item B</a></li>
            </ul>
        </div>
    </div>

    <!-- cancel button varients -->
    <a href="javascript:void(0);" class="btn btn-primary sm cancel-btn">Cancel</a>
</div>   


<!-- split buttons documented code -->
<pre>
        <code>
        &lt;!-- split secondary button --&gt;
        &lt;div class="dropdown"&gt;
            &lt;div class="btn-group"&gt;
                &lt;a href="javascript:void(0);" class="btn btn-pacific-secondary sm"&gt;
                Split
                &lt;/a&gt;
                &lt;a href="javascript:void(0);" class="btn dropdown-toggle btn-light-blue sm btn-icon" tabindex="0"&gt;
                    &lt;svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"&gt;&lt;defs&gt;&lt;style&gt;.a&#123;fill:none;&#125;.b&#123;fill:rgba(0,0,0,0.25);&#125;&lt;/style&gt;&lt;/defs&gt;&lt;path class="a" d="M0,0H24V24H0Z"/&gt;&lt;path class="b" d="M7.41,8.59,12,13.17l4.59-4.58L18,10l-6,6L6,10Z"/&gt;&lt;/svg&gt;
                &lt;/a&gt;
            
                &lt;!-- menu component --&gt;
                &lt;ul class="menu"&gt;
                &lt;li&gt;&lt;a href="javascript:void(0);"&gt;Item A&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="javascript:void(0);"&gt;Item B&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;

        &lt;!-- split transparent button --&gt;
        &lt;div class="dropdown"&gt;
            &lt;div class="btn-group"&gt;
                &lt;a href="javascript:void(0);" class="btn btn-transparent sm"&gt;
                Split
                &lt;/a&gt;
                &lt;a href="javascript:void(0)" class="btn dropdown-toggle btn-light-blue sm btn-icon" tabindex="0"&gt;
                    &lt;svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"&gt;&lt;defs&gt;&lt;style&gt;.a&#123;fill:none;&#125;.b&#123;fill:rgba(0,0,0,0.25);&#125;&lt;/style&gt;&lt;/defs&gt;&lt;path class="a" d="M0,0H24V24H0Z"/&gt;&lt;path class="b" d="M7.41,8.59,12,13.17l4.59-4.58L18,10l-6,6L6,10Z"/&gt;&lt;/svg&gt;
                &lt;/a&gt;
            
                &lt;!-- menu component --&gt;
                &lt;ul class="menu"&gt;
                    &lt;li&gt;&lt;a href="javascript:void(0);"&gt;Item A&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="javascript:void(0);"&gt;Item B&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;

        &lt;!-- cancel button varients --&gt;
        &lt;a href="javascript:void(0);" class="btn btn-primary sm cancel-btn"&gt;Cancel&lt;/a&gt;
        </code>
    </pre>

<!--fully filled button  -->
<!-- danger button -->
<div class="column col-12">
    <!-- danger button  -->
    <button class="btn btn-danger sm">Button variations</button>
    <!-- accent button -->
    <button class="btn btn-accent sm">Button variations</button>
    <!-- warn button -->
    <button class="btn btn-purple sm">Button variations</button>
    <!-- purple button -->
    <button class="btn btn-success sm">Button variations</button>
    <!-- upgrade button -->
    <button class="btn btn-upgrade sm">Upgrade</button>
</div>    


<!--fully filled button documented code  -->
<pre>
    <code>
        &lt;!-- danger button  --&gt;
        &lt;button class="btn btn-danger sm"&gt;Button variations&lt;/button&gt;
        &lt;!-- accent button --&gt;
        &lt;button class="btn btn-accent sm"&gt;Button variations&lt;/button&gt;
        &lt;!-- warn button --&gt;
        &lt;button class="btn btn-purple sm"&gt;Button variations&lt;/button&gt;
        &lt;!-- purple button --&gt;
        &lt;button class="btn btn-success sm"&gt;Button variations&lt;/button&gt;
    </code>
</pre>

<div class="column col-12">
    <!-- small buttons -->
    <div class="setting-action">
        <span class="add-media-btn"> Add </span>
    </div>


    <div class="clearfix"></div>
    <!-- close btn -->
    <div class="quest-slide">
        <span class="cancel-setup"> Close 
            <img _ngcontent-lcv-c237="" src="/assets/svg/close-blue-bg.svg">
        </span>
    </div>
</div>

<!-- small icons buttons -->
<span class="quest-setting setup-btn sm"><img src="assets/svg/drag_indicator.svg"></span>

<!-- medium icons buttons -->
<span class="quest-setting setup-btn sm"><img src="assets/svg/drag_indicator.svg"></span>

<!-- buttons icon -->
<span class="btn btn-icon md light-gray">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.a{fill:none;}.b{fill:#2e384d;}</style></defs><path class="a" d="M0,0H24V24H0Z"/><path class="b" d="M11,18a2,2,0,1,1-2-2A2.006,2.006,0,0,1,11,18ZM9,10a2,2,0,1,0,2,2A2.006,2.006,0,0,0,9,10ZM9,4a2,2,0,1,0,2,2A2.006,2.006,0,0,0,9,4Zm6,4a2,2,0,1,0-2-2A2.006,2.006,0,0,0,15,8Zm0,2a2,2,0,1,0,2,2A2.006,2.006,0,0,0,15,10Zm0,6a2,2,0,1,0,2,2A2.006,2.006,0,0,0,15,16Z"/></svg>
</span>
