<div class="component-title">
    <h2>Date/time picker</h2>
</div>

<div class="columns">
    <!-- use vz-datepicker class for datepicker -->
    <div class="column col-3">
        <div class="form-group vz-datepicker">
            <span class="input-icon">
                <input class="form-input" type="text" placeholder="Enter date">
                <img src="assets/images/svg/date-picker-icon.svg"/>
                  
            </span>
        </div>
    </div>
</div>

<!-- documented code -->
<pre>
  <code>
      &lt;div class="form-group vz-datepicker"&gt;
      &lt;span class="input-icon"&gt;
          &lt;input class="form-input" type="text" placeholder="Enter date"&gt;
          &lt;img src="assets/images/svg/date-picker-icon.svg"/&gt;
      &lt;/span&gt;
  &lt;/div&gt;
  </code>
</pre>

<!-- date picker with label -->
<div class="columns">
    <div class="column col-3">
        <div class="form-group vz-datepicker">
            <label class="form-label" for="input-example-1">Start date</label>
            <span class="input-icon">
                <input class="form-input" type="text" placeholder="Enter date">
                <img src="assets/images/svg/date-picker-icon.svg"/>
            </span>
        </div>
    </div>
</div>

<!-- documented code -->
<pre>
  <code>
      &lt;div class="form-group vz-datepicker"&gt;
      &lt;label class="form-label" for="input-example-1"&gt;Start date&lt;/label&gt;
      &lt;span class="input-icon"&gt;
          &lt;input class="form-input" type="text" placeholder="Enter date"&gt;
          &lt;img src="assets/images/svg/date-picker-icon.svg"/&gt;
      &lt;/span&gt;
      &lt;/div&gt;
  </code>
</pre>

<!-- date picker in disable state -->
<div class="columns">
    <div class="column col-3">
        <div class="form-group vz-datepicker">
            <label class="form-label" for="input-example-1">Start date</label>
            <span class="input-icon">
                <input class="form-input disabled" type="text" placeholder="YYYY/MM/DD">
                <img src="assets/images/svg/date-picker-icon.svg"/>
            </span>
        </div>
    </div>
</div>

<!-- documented code -->
<pre>
  <code>
      &lt;div class="form-group vz-datepicker"&gt;
            &lt;label class="form-label" for="input-example-1"&gt;Start date&lt;/label&gt;
            &lt;span class="input-icon"&gt;
                &lt;input class="form-input disabled" type="text" placeholder="YYYY/MM/DD"&gt;
                &lt;img src="assets/images/svg/date-picker-icon.svg"/&gt;
            &lt;/span&gt;
      &lt;/div&gt;
  </code>
</pre>

<!-- time picker -->
<div class="columns">
    <div class="column col-3">
        <div class="form-group vz-datepicker">
            <label class="form-label" for="input-example-1">Start Time</label>
            <span class="input-icon">
                <input class="form-input" type="text" placeholder="HH:MM">
                <img src="assets/images/svg/date-time-icon.svg"/>
            </span>
        </div>
    </div>
</div>

<!-- documented code -->
<pre>
  <code>
      &lt;div class="form-group vz-datepicker"&gt;
            &lt;label class="form-label" for="input-example-1"&gt;Start Time&lt;/label&gt;
            &lt;span class="input-icon"&gt;
                &lt;input class="form-input" type="text" placeholder="HH:MM"&gt;
                &lt;img src="assets/images/svg/date-time-icon.svg"/&gt;
            &lt;/span&gt;
      &lt;/div&gt;
  </code>
</pre>

<!-- time picker in disable state -->
<div class="columns">
    <div class="column col-3">
        <div class="form-group vz-datepicker">
            <label class="form-label" for="input-example-1">Start Time</label>
            <span class="input-icon">
                <input class="form-input disabled" type="text" placeholder="HH:MM">
                <img src="assets/images/svg/date-time-icon.svg"/>
            </span>
        </div>
    </div>
</div>


<!-- documented code -->
<pre>
  <code>
      &lt;div class="form-group vz-datepicker"&gt;
            &lt;label class="form-label" for="input-example-1"&gt;Start Time&lt;/label&gt;
            &lt;span class="input-icon"&gt;
                &lt;input class="form-input disabled" type="text" placeholder="HH:MM"&gt;
                &lt;img src="assets/images/svg/date-time-icon.svg"/&gt;
            &lt;/span&gt;
      &lt;/div&gt;
  </code>
</pre>