<div class="column col-12">
  <div class="survey-nav-items" id="prod_innerNav">
    <ul>
      <!-- done-active,completed,active -->
      <li class="completed">
        <span class="nav-count">
          <span class="count">1</span>
        </span>
        Build
      </li>
      <li class="completed"> 
        <span class="nav-count">
          <span class="count">2</span>
        </span>
        Share
      </li>
      <li class="done-active">
        <span class="nav-count">
          <span class="count">3</span>
        </span>
        Integrations
      </li>
      <li>
        <span class="nav-count">
          <span class="count">4</span>
        </span>
        Reports
      </li>
      <li>
        <span class="nav-count">
          <span class="count">5</span>
        </span>
        Text Analytics
      </li>
    </ul>
  </div>  
</div>



  <!-- documented code -->
  <pre>
    <code>
      &lt;div class="survey-nav-items" id="prod_innerNav"&gt;
      &lt;ul&gt;
        &lt;!-- done-active,completed,active --&gt;
        &lt;li class="completed"&gt;
          &lt;span class="nav-count"&gt;
            &lt;span class="count"&gt;1&lt;/span&gt;
          &lt;/span&gt;
          Build
        &lt;/li&gt;
        &lt;li class="completed"&gt; 
          &lt;span class="nav-count"&gt;
            &lt;span class="count"&gt;2&lt;/span&gt;
          &lt;/span&gt;
          Share
        &lt;/li&gt;
        &lt;li class="done-active"&gt;
          &lt;span class="nav-count"&gt;
            &lt;span class="count"&gt;3&lt;/span&gt;
          &lt;/span&gt;
          Integrations
        &lt;/li&gt;
        &lt;li&gt;
          &lt;span class="nav-count"&gt;
            &lt;span class="count"&gt;4&lt;/span&gt;
          &lt;/span&gt;
          Reports
        &lt;/li&gt;
        &lt;li&gt;
          &lt;span class="nav-count"&gt;
            &lt;span class="count"&gt;5&lt;/span&gt;
          &lt;/span&gt;
          Text Analytics
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
    </code>
</pre>
