<div class="component-title">
    <h2>Breadcrumbs</h2>
</div>

<div class="columns">
    <!-- default -->
    <div class="column col-12">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="javasript:void(0)">Default</a>
            </li>
            <li class="breadcrumb-item">
                <a href="javasript:void(0)">Breadcrumbs</a>
            </li>
            <li class="breadcrumb-item">
                <a href="javasript:void(0)">Breadcrumbs 2</a>
                <span class="count-box">3</span>
            </li>
        </ul>
    </div>

    <!-- documented code -->
    <pre>
        <code>
            &lt;ul class="breadcrumb"&gt;
                &lt;li class="breadcrumb-item"&gt;
                    &lt;a href="javasript:void(0)"&gt;Default&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class="breadcrumb-item"&gt;
                    &lt;a href="javasript:void(0)"&gt;Breadcrumbs&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class="breadcrumb-item"&gt;
                    &lt;a href="javasript:void(0)"&gt;Breadcrumbs 2&lt;/a&gt;
                    &lt;span class="count-box"&gt;3&lt;/span&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        </code>
    </pre>

    <!-- color boxes -->
    <div class="column col-12">
        <ul class="breadcrumb withboxes">
            <li class="breadcrumb-item">
                <a href="javasript:void(0)">
                    <span class="box"></span>
                    Breadcrumbs
                </a>
            </li>
            <!-- add success class success type box default is primary -->
            <li class="breadcrumb-item">
                <a href="javasript:void(0)">
                    <span class="box success"></span>
                    Breadcrumbs
                </a>
            </li>
        </ul>
    </div>

    <!-- documented code -->
    <pre>
        <code>
            &lt;ul class="breadcrumb withboxes"&gt;
                &lt;li class="breadcrumb-item"&gt;
                    &lt;a href="javasript:void(0)"&gt;
                        &lt;span class="box"&gt;&lt;/span&gt;
                        Breadcrumbs
                    &lt;/a&gt;
                &lt;/li&gt;
                &lt;!-- add success class success type box default is primary --&gt;
                &lt;li class="breadcrumb-item"&gt;
                    &lt;a href="javasript:void(0)"&gt;
                        &lt;span class="box success"&gt;&lt;/span&gt;
                        Breadcrumbs
                    &lt;/a&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        </code>
    </pre>

    <!-- current page highlight boxes -->
    <div class="column col-12">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="javasript:void(0)">
                    Default
                </a>
            </li>
            <li class="breadcrumb-item active">
                <a href="javasript:void(0)">
                    Breadcrumbs
                </a>
            </li>
        </ul>
    </div>

    <!-- documented code -->
    <pre>
        <code>
            &lt;ul class="breadcrumb"&gt;
                &lt;li class="breadcrumb-item"&gt;
                    &lt;a href="javasript:void(0)"&gt;
                        Default
                    &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class="breadcrumb-item active"&gt;
                    &lt;a href="javasript:void(0)"&gt;
                        Breadcrumbs
                    &lt;/a&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        </code>
    </pre>
</div>        